// ------------------------------------------------------------
// Buttons
// ------------------------------------------------------------
@mixin button($type:default){
  appearance: none;
  // background-color: $main;
  border: none;
  // color: $light;
  cursor: pointer;
  display: block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color $base-duration $base-timing, color $base-duration $base-timing, border $base-duration $base-timing;
  text-align: center;
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  &:hover {
    // background-color: $dark;
    // border-color: $dark;
    // color: $light;
  }

  @if $type == outline {
    background-color: transparent;
    color: $main;
    &:hover{
      background-color: $dark;
      border-color: $dark;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  @include button
}

.btn-outline{
  @include button(outline);
}