// ------------------------------------------------------------
// Elements
// ------------------------------------------------------------
html {box-sizing: border-box;}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // background-color: $lighter-grey;
  color: $dark;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 0 0 $base-spacing 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a:hover, a:focus{text-decoration: none;}

a img{outline: 0;}

.more{
  text-transform: uppercase;
  font-size: 12px;
  transition: none !important;
  &.blue{color: $lightblue}
  &.white{color: $light}
  img{
    display: inline-block !important;
    width: 15px !important;
    margin: 0 10px !important;
  } 
}

.arrow{width: 15px;}