// ------------------------------------------------------------
// Reveal
// ------------------------------------------------------------


.reveal{

  .related-articles{border-top: solid 20px $light;}


  .hero{
    overflow: hidden; 
    padding-top: 250px;
    &:after{padding-bottom: 40px;}

  }
  .hero__content{
    position: relative;
    margin: 0 auto;
    left: initial;
    transform: translate(0);
    p{margin-bottom: 20px;}
  }
  .big-five{
    position: absolute;
    width: 100%;
    svg{
      fill: $mustard;
      position: absolute;
      z-index: 0;
      width: 90%;
      height: 54em;
      top: -23em;
      right: 0;
      @include mq($from: large) {
        width: 100%;
        height: 100em;
        right: -12em;
      }
    } 
  } 

  .panels {
    display: block;
    overflow: hidden;
    z-index: 1;
    position: relative;
    @include mq($from: large) {
      display: flex;
      flex-direction: row;
      .icon-close-dims{display: none;}
    }
  }


  .panel {
    color: $light;
    text-align: center;
    transition: $fast ease-in-out;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    padding-top: 60px;
    padding-bottom: 60px;
    @include mq($from: large) {
      min-height: 750px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .icon-wrap svg{transition: all $fast ease-in;} 
    &:hover .icon-wrap svg{transform: scale(1.05) translate(-50%, 0);} 


    &.open {flex: 2;}
    
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;
      margin: 0;
      width: 100%;
      transition: transform $fast;
      
      &:first-child {
        flex: 1;
        display: block;
      }
    }
    svg[class*=" icon-num-"]{
      height: 60px;
      margin: 30px auto;
    }

    .icon-close-dims{
      fill: $dark-orange;
      width: 60px;
      border-radius: 50%;
      padding: 7px;
      border: 2px solid $dark-orange;
      height: 60px;
      transform: rotate(45deg);
      margin-top: 40px;
    }

    svg{
      // max-width: 230px;
      margin: 0 auto;
    }

    h3{
      color: $light;
      @include font-bold();
      letter-spacing: 1px;
      line-height: 1.3
    }

    p {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 100;
      display: block;
      opacity: 0;
      max-height: 0;
      &:nth-child(2) {font-size: 4em;}
    }

    a{display: block; margin: 20px 0; color: $yellow;}

    @include mq($from:large){
      .icon-wrap {
        position: relative;
        svg{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}
      }
    }


  }

  .panel.open-active {
    background: $dark-orange;
    z-index: 0;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    h3{color: $yellow;}
    svg{fill: $yellow;}
    svg[class*=" icon-num-"]{fill: $light}
    p{
      opacity: 1;
      transition: opacity $fast $slow;
      max-height: none;
    }
    .icon-close-dims{
      fill: $light;
      transform: rotate(0);
      border: 2px solid $light;
    }
  }
}



// Five things-that-get-better-with-age
.five-things-that-get-better-with-age{
  .icon-whiskey-dims{width: 83px; height: 256px;}
  .icon-cheese-dims{width: 128px; height: 116px;}
  .icon-skillet-dims{width: 208px; height: 40px;}
  .icon-art-dims{width: 177px; height: 177px;}
  .icon-book-dims{width: 104px; height: 144px;}
  @include mq($from:large){
    .icon-wrap {height: 256px;}
  }
}

// Five Ways to save Money
.five-ways-to-save-more-each-month{
  .icon-pig-dims{width: 133px; height: 133px;}
  .icon-cup-dims{width: 95px; height: 116px;}
  .icon-bottle-dims{width: 51px; height: 150px;}
  .icon-apple-dims{width: 95px; height: 106px;}
  .icon-wallet-dims{width: 161px; height: 133px;}
  @include mq($from:large){
    .icon-wrap {height: 150px;}
  }
  .site-title a .icon-logo-dims{fill: $red;}
  .big-five svg{fill: $light;}
  .panel .icon-close-dims{fill: $red; border-color: $red;}
  .panel h3{color: $red;}
  .panel.open-active {
    background: $red;
    h3{color: $light;}
    svg{fill: $light;}
    svg[class*=" icon-num-"]{fill: $light}
  }
}

// Five Brands battle it out
.five-brands-battle-it-out{
  .icon-jar-dims{width: 125px; height: 127px;}
  .icon-bar-dims{width: 56px; height: 124px;}
  .icon-phone-dims{width: 92px; height: 161px;}
  .icon-peanut-butter-dims{width: 88px; height: 124px;}
  .icon-tv-dims{width: 135px; height: 97px;}
  @include mq($from:large){
    .icon-wrap {height: 161px;}
  }
  .site-title a .icon-logo-dims{fill: $light;}
  .big-five svg{fill: $yellow;}
  .panel .icon-close-dims{fill: $yellow; border-color: $yellow;}
  .panel h3{color: $light;}
  .panel.open-active {
    background: $dark-green;
      svg[class*=" icon-num-"]{fill: $light}
   }
}