<div class="hero hero--icon hero--404 heading--white text--white svg--green background--yellow">
  <div class="hero__content">
    <h1>404 Error</h1>
    <p>It looks like what you're looking for can't be found. Please return to the <a href="<%- url %>">Home</a> page and try again.</p>
  </div>
  <svg class="icon icon-telescope-dims">
    <use xlink:href="#telescope"></use>
  </svg>
</div>
