<div class="logo">
    <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/TW-logo-footer.png" alt="">
</div>
<div class="row">
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-about-title">学校について</h5></li>
                <li><a href="/about" data-i18n="nav-about-intro">学校紹介</a></li>
                <li><a href="/educational-policy" data-i18n="nav-about-philosophy">教育理念</a></li>
                <li><a href="/educational-leadership-members" data-i18n="nav-about-members">教育リーダーシップメンバー</a></li>
                <li><a href="/faculty-members" data-i18n="nav-about-faculty">教員・事務員</a></li>
                <li><a href="/gsa-group" data-i18n="nav-about-group">GSAグループについて</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-program-title">プログラム</h5></li>
                <li><a href="/classes" data-i18n="nav-program-classes">クラス構成</a></li>
                <li><a href="/curriculum" data-i18n="nav-program-curriculum">カリキュラム</a></li>
                <li><a href="/tuition" data-i18n="nav-program-tuition">費用</a></li>
                <li><a href="/special-offers" data-i18n="nav-program-offers">GSA生徒特典</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-life-title">スクールライフ</h5></li>
                <li><a data-i18n="nav-life-daily" href="/daily-schedule">年間スケジュール</a></li>
                <li><a data-i18n="nav-life-yearly" href="/yearly-schedule">1日のスケジュール</a></li>
                <li><a data-i18n="nav-life-club" href="/club">オプショナルレッスン</a></li>
                <li><a data-i18n="nav-life-gallery" href="/school-gallery">スクールギャラリー</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-admissions-title">入学</h5></li>
                <li><a data-i18n="nav-admissions-enrolment" href="/steps-to-enrolment">費用</a></li>
                <li><a data-i18n="nav-admissions-tour" href="/tour">入園までの流れ</a></li>
                <li><a data-i18n="nav-admissions-boost" href="/boost-program">見学について</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-facility-title">施設紹介</h5></li>
                <li><a data-i18n="nav-facility-security" href="/security">安全・セキュリティー</a></li>
                <li><a data-i18n="nav-facility-gallery" href="/facility-gallery">施設ギャラリー</a></li>
                <li><a data-i18n="nav-facility-bus" href="/school-bus">スクールバス</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li><h5 data-i18n="nav-contact-title">お問い合わせ</h5></li>
                <li><a data-i18n="nav-contact-form" href="/contact">お問い合わせフォーム</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li class="sub-less"><a data-i18n="footer-careers" class="link-title" href="/careers"><h5>採用情報</h5></a></li>
            </ul>
        </div>
    </div> -->
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li class="sub-less"><a data-i18n="footer-privacy" class="link-title" href="/privacy-policy"><h5>プライバシーポリシー</h5></a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
        <div class="wrapper">
            <ul class="list-group">
                <li class="sub-less"><a data-i18n="footer-hiring" class="link-title" href="/employment"><h5>教員採用</h5></a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-4 desktop">
    </div>
    <div class="col-12 col-md-3 col-lg-2 desktop">
      <a class="login-btn" href="http://internal.tokyowest.jp/users/student-documents/">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/parent-acces-icon.png" alt="location">
        ログイン
      </a>
    </div>
</div>
<div class="end row">
    <div class="col-12 col-md-4 col-lg-4">
        <a href="/" data-i18n="footer-name">東京ウエストインターナショナルスクール</a>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <a href="tel:042-691-1441"><img src="/assets/images/phone.svg"/>042-691-1441 (平日8:30 – 16:30)</a>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <a href="mailto:admission@tokyowest.jp"><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</a>
    </div>
</div>
   


   
    

    

    

    

    