<div class="nav-item">
	<p id="about" data-i18n="nav-about-title">学校について</p>
	<div class="sub">
		<a href="/about" id="about-intro" data-i18n="nav-about-intro">学校紹介</a>
		<a href="/educational-policy" id="about-phil" data-i18n="nav-about-philosophy">教育理念</a>
		<a href="/educational-leadership-members" id="about-members" data-i18n="nav-about-members">教育リーダーシップメンバー</a>
		<a href="/faculty-members" id="about-faculty" data-i18n="nav-about-faculty">教員・事務員</a>
		<a href="/gsa-group" id="about-group" data-i18n="nav-about-group">GSAグループについて</a>
	</div>
</div>
<div class="nav-item">
	<p id="program" data-i18n="nav-program-title">プログラム</p>
	<div class="sub">
		<a href="/classes" data-i18n="nav-program-classes">クラス構成</a>
		<a href="/curriculum" data-i18n="nav-program-curriculum">カリキュラム</a>
		<a href="/tuition" data-i18n="nav-program-tuition">費用</a>
		<a href="/special-offers" data-i18n="nav-program-offers">GSA生徒特典</a>
	</div>
</div>
<div class="nav-item">
	<p id="life" data-i18n="nav-life-title">スクールライフ</p>
	<div class="sub">
		<a data-i18n="nav-life-daily" href="/daily-schedule">年間スケジュール</a>
		<a data-i18n="nav-life-yearly" href="/yearly-schedule">1日のスケジュール</a>
		<a data-i18n="nav-life-club" href="/club">オプショナルレッスン</a>
		<a data-i18n="nav-life-gallery" href="/school-gallery">スクールギャラリー</a>
	</div>
</div>
<div class="nav-item">
	<p id="admission" data-i18n="nav-admissions-title">入学</p>
	<div class="sub">
		<a data-i18n="nav-admissions-enrolment" href="/steps-to-enrolment">費用</a>
		<a data-i18n="nav-admissions-tour" href="/tour">入園までの流れ</a>
		<a data-i18n="nav-admissions-boost" href="/boost-program">見学について</a>
	</div>
</div>
<div class="nav-item">
	<p id="faculty" data-i18n="nav-facility-title">施設紹介</p>
	<div class="sub">
		<a data-i18n="nav-facility-security" href="/security">安全・セキュリティー</a>
		<a data-i18n="nav-facility-gallery" href="/facility-gallery">施設ギャラリー</a>
		<a data-i18n="nav-facility-bus" href="/school-bus">スクールバス</a>
	</div>
</div>
<div class="nav-item">
	<p id="contact" data-i18n="nav-contact-title">お問い合わせ</p>
	<div class="sub">
		<a data-i18n="nav-contact-form" href="/contact">お問い合わせフォーム</a>
	</div>
</div>
<div class="subBG"></div>
<span class="switch-locale">
	<button class="lang" id="en" data-locale="en">EN</button>
	<button class="lang hide" id="ja" data-locale="ja">日本語</button>
</span>