<p>学校について</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<p>プログラム</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<p>スクールライフ</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<p>入学</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<p>施設紹介</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<p>お問い合わせ</p>
<div class="nav-item">
	<a href="/">Link</a>
	<a href="/">Link</a>
	<a href="/">Link</a>
</div>
<span href="#" class="menu-toggle">Menu</span>
<button class="lang" onclick="switchLanguage()">言語</button>