
<div class="nav-item">
	<p>学校について</p>
	<div class="sub">
		<a href="/">Link</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="nav-item">
	<p>プログラム</p>
	<div class="sub">
		<a href="/">second</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="nav-item">
	<p>スクールライフ</p>
	<div class="sub">
		<a href="/">third</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="nav-item">
	<p>入学</p>
	<div class="sub">
		<a href="/">fourth</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="nav-item">
	<p>施設紹介</p>
	<div class="sub">
		<a href="/">fifth</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="nav-item">
	<p>お問い合わせ</p>
	<div class="sub">
		<a href="/">six</a>
		<a href="/">Link</a>
		<a href="/">Link</a>
	</div>
</div>

<div class="subBG"></div>


<span href="#" class="menu-toggle">Menu</span>
<button class="lang" onclick="switchLanguage()">言語</button>