<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="about-h1">学校紹介</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
    
<div class="content-wrapper container">
    <div class="row">
        <div class="col-md-7 col-12 heading--black">
            <h3 data-i18n="about-intro-title">メッセージ</h3>
            <p data-i18n="about-intro-p1">私は2017-2018年度から学校長として務めさせてさせていただいておりますことを、光栄に思っております。8年前の開校以来、本校は毎年成長し変化し続けております。今年からの新しい組織再編やGSAグループとの合併により、TWISは、正に国際的な教育とグローバルな価値感を促進するのにふさわしい機関になるために大きな飛躍を遂げたと、私は考えます。</p>
            <p data-i18n="about-intro-p2">子どもをa life-long learner（生涯学び続ける者)として発展させるという学校の役目は軽んじられてはいけません。生徒たち自身の、自分の能力と潜在力の感じ方を変えるということは、彼らのパフォーマンスを大幅に変える可能性があるということになります。生徒たちの才能や知識の量を賞賛するのではなく、努力や方法、集中力、今期、そしてどれだけ上達したのかという、学習の過程を賞賛するべきです。私たちTWISはこれらの役割を非常に真剣に受けとめています。国際的なカリキュラムの枠組みが新たに導入されると共に、私たちはこれらの教育と学習の過程に集中点を当てていく予定です。</p>
            <p data-i18n="about-intro-p3">学生と教師の有意義な指導・学習関係がTWISの基盤を形成しています。教師は、生徒たちがTWISの基本的価値観である好奇心(curious)のスキル、協調性(collaborative)のスキル、勇気(courageous)のスキル、そして思いやり(compassionate)のスキルの「４つのC」が育つようにレッスンを設計しております。最終的に、生徒たちはこれらのスキルで２１世紀社会を築き上げていくことでしょう。これらのスキルを刺激し促進するために、レッスンは探求型かつ経験的であり、概念理解を必要とし、チームワークに焦点を当てます。また、レッスンは生徒全員に行き渡るよう、差別化されています。ローカルやグローバルな概念や文脈（コンテクスト）は学習に深みを与えるために日常的に探求されています。そして、毎日の評価（形成的評価）とユニット終了の評価（総括的評価）の両方によって、すべての学校関係者に生徒たちの成果をお知らせします。</p>
            <p data-i18n="about-intro-p4">それに加え、私たちは幅広い放課後プログラム、新しいランチタイムのアクティビティ、夏期講習プログラム、そして教室外での学習を含める予定です。これらはすべての生徒の教育について独自の貢献を果たし、彼らに多くの様々な利点を提供し、場所の感覚を養い自分を取り囲む世界への関心を持たせながら「全人教育」を発展させます。教室外にも学習を広げる機会がたくさんあるため、生徒たちの教育は教室内だけにとどめさせてはいけないと私たちは強く思います。放課後や教室外でのアクティビティはお子様に「バランスのとれた人生」がどのようなものなのかということを理解させます。「バランスのとれた人生」とは知的、身体的、感情的バランスがとれたものであり、これは個人的な幸福と同じです。スマートフォンやビデオゲームが一般的なこの時代に、教室外の活動は調和を保つ役目となります。そのため、このバランスの取れたライフスタイルを生徒たちが見つけ出せるよう私たちは努めております。</p>
            <p data-i18n="about-intro-p6">皆さまとお会いすること、そして様々な教育課題を踏まえ、一緒に今後の新たな挑戦に立ち向かうことを私は楽しみにしております。</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-12 background--blue heading--white text--white">
            <img src="" alt="">
            <h3 data-i18n="about-head-title">イントロダクション</h3>
            <p data-i18n="about-head-p1">Tokyo West International School (TWIS) は国際教育に特化した国際教育ブランドGlobal Step Academy (GSA) 傘下のインターナショナルスクールです。</p>
            <p data-i18n="about-head-p2">幼児部・小学部・中学部から成っており世界にはばたくこどもたちを育てることを目的としています。</p>
            <p data-i18n="about-head-p3">TWISは、知的、創造的、個人的、社会的、身体的能力向上を通して、多彩な個人になるために生徒を育成するインターナショナルスクールです。 国際的かつ自立した考えを持つ人間になることを目的に現地及び海外の生徒への教育を行っています。 また、我々はアカデミックの質、長期のコミュニティー形成、多様性の理解に関しても、言語の習得、コミュニケーション力、倫理、自己認識、そしてマインドフルネスと同様に注力しています。</p>
            <p data-i18n="about-head-p4">クラスルームレッスンと通常カリキュラムと並行して行われるアクティビティーは子供たちの成長にとても重要と我々は考えており、我々は子供達が学ぶ過程で五感をフルに活用するスポーツ、音楽、その他の課外活動に重きを置いています。 それらを学びながら、個人とグループがどう機能するかを学ぶことができると考えているからです。</p>
            <p data-i18n="about-head-p5">全ての生徒がグローバル人材に必要な基礎的なスキルセットと知識を身につけることを最終的な目標としています。</p>
            <p><span data-i18n="about-head-p6">学校長</span> Morten Vatn</p>
        </div>
    </div>
</div>








 
