<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="boost-h1">ブーストプログラム</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
<div class="content-wrapper container">
    <div class="row">
        <div class="col-md-7 col-12 heading--black">
            <h3 data-i18n="boost-h3">ブーストプログラムについて</h3>
            <p data-i18n="boost-intro">入学志願者の中で、英語力の養成が必要な生徒向けのブーストプログラムを提供いたします。このプログラムを受けることで、入学時の英語力が規定に満たない場合でも、入学が可能となります。​このプログラムは、日々の英語に触れる機会を増やしつつ、学校での生活や学習にいち早く追いつけるように英語力の底上げを目的としています。</p>
            <p data-i18n="boost-blue-1" class="text--blue">プログラム内容</p>
            <p data-i18n="boost-p-1">通常の学校から帰宅後、毎日50分のオンライン英語レッスンを受講していただきます。(月30回分) こちらはマンツーマンの個別化されたプログラムであり、オンラインレッスンのデータは全てTWISの先生に共有されます。</p>
            <p data-i18n="boost-blue-2" class="text--blue">オンライン英語レッスン</p>
            <p data-i18n="boost-p-2">Global Step AcademyのEnglish Language Artsのレッスンを受講していただきます。GSAのホームページより詳細をご覧ください。</p>
            <a href="https://www.gsacademy.com/">GSA Website <img src="/assets/images/arrow-blue.svg"/></a>
            <p data-i18n="boost-blue-3" class="text--blue">注意点</p>
            <p data-i18n="boost-p-3">すべての方にこちらのプログラムが適応されることはございません。​入学選考時の英語テストにおきまして、ある一定の英語力を持ちながらも、TWISの規定レベルに満たなかった生徒様のみ対象となります。​また、このプログラムは新年度の入学のみに限定せず、途中編入学も対象となります。​​詳細は別途ご相談ください。</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-12 background--blue heading--white text--white">
            <img src="" alt="">
            <h3 data-i18n="boost-box-title">要項</h3>
            <h4 data-i18n="boost-box-sub-1">対象年齢</h4>
            <p data-i18n="boost-box-p-1">G1 (6歳) - G5 (10歳)</p>
            <h4 data-i18n="boost-box-sub-2">期間</h4>
            <p data-i18n="boost-box-p-2">約1年間</p>
            <p data-i18n="boost-box-p-3" class="light">※早めに的確な学年の英語レベルに追いついた場合は状況に応じて早めに切り上げることがございます</p>
            <h4 data-i18n="boost-box-sub-3">費用</h4>
            <p data-i18n="boost-box-p-4">- ¥54,000 (税込) /月</p>
            <p data-i18n="boost-box-p-5">- 50分レッスン × 30回分</p>
            <p data-i18n="boost-box-p-6" class="light">※こちらはTokyo West International Schoolの学費とは別にお支払いいただきます</p>
        </div>
    </div>
    <div class="row five-year">
        <div class="col-12 heading--black">
            <h3 data-i18n="boost-icons-title">必要なもの</h3>
            <div class="col-md-4">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Boost+Program/wifi-icon.svg" alt="">
                <p data-i18n="boost-wifi">インターネット環境</p>
            </div>
            <div class="col-md-4">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Boost+Program/computer-icon.svg" alt="">
                <p data-i18n="boost-pc">パソコン or タブレット</p>
            </div>
            <div class="col-md-4">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Boost+Program/google-icon.svg" alt="">
                <p data-i18n="boost-google">Google ハングアウト</p>
            </div>
            <a data-i18n="boost-link" href="https://www.gsacademy.com/">詳細はこちらをご確認ください <img src="/assets/images/arrow-blue.svg"/></a>
        </div>
    </div>
</div>