<div class="hero heading--white text--white svg--white">
        <div class="contact-semi">
            <img src="/assets/images/arrow-white.svg"/>
            <p data-i18n="semi-contact">お問い合わせ</p>
            <div class="contact">
            <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
            <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
            <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
            </div>
        </div>
    </div>
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-12 heading--white">
                <h2 data-i18n="classes-title">クラス編成</h2>
                <table>
                    <tr>
                        <td></td>
                        <td>Elementary School<br>G1-G6</td>
                        <td>Middle School<br>G7-G9</td>
                    </tr>
                    <tr>
                        <td data-i18n="classes-capacity">1クラスの定員</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td data-i18n="classes-time">授業時間</td>
                        <td data-i18n="classes-time-morning">月曜日〜金曜日 8:45 - 15:30</td>
                        <td data-i18n="classes-time-afternoon">月曜日〜金曜日 8:45 - 15:30</td>
                    </tr>
                    <tr>
                        <td data-i18n="classes-member">1クラスの専任教員</td>
                        <td data-i18n="classes-member-morning">1名</td>
                        <td data-i18n="classes-member-afternoon">1名</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>