<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="club-h1">クラブ活動</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
    
<div class="content-wrapper container">
    <div class="col-12 heading--black center">
        <p data-i18n="club-grey" class="grey">本校では、放課後にクラブ活動を行います。クラブ活動を通して生徒たちは学年の枠を超えて深い友情を築くと共に、互いを励まし合いながら目標に向かって日々努力し、豊かな人間性とコミュニケーション能力を育んでいます。</p>
        <h3 data-i18n="club-title">現在、以下のクラブが無料で提供されています:</h3>
    </div>
    <div class="icons row">
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-01.svg"/>
            <strong data-i18n="club-icon-1">サッカー</strong>
        </div> 
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-02.svg"/>
            <strong data-i18n="club-icon-2">フットサル</strong>
        </div> 
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-03.svg"/>
            <strong data-i18n="club-icon-3">バスケットボール</strong>
        </div>  
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-04.svg"/>
            <strong data-i18n="club-icon-4">バスケットボール</strong>
        </div>  
    </div>
    <div class="icons row">
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-05.svg"/>
            <strong data-i18n="club-icon-5">ミュージック</strong>
        </div> 
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-06.svg"/>
            <strong data-i18n="club-icon-6">アート</strong>
        </div> 
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-07.svg"/>
            <strong data-i18n="club-icon-7">新聞</strong>
        </div> 
        <div class="col-12 col-md-3">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Club+Activities/icon-08.svg"/>
            <strong data-i18n="club-icon-8">バスケットボール</strong>
        </div>   
    </div>
</div>
