<a href="https://goo.gl/maps/9NVUY4RVVBo" target="_blank">
    <div class="hero heading--white text--white">
        <div class="hero__content offset">
            <h1 data-i18n="contact-h1">お問い合わせ</h1>
        </div>
        <div class="contact-semi">
            <img src="/assets/images/arrow-white.svg"/>
            <p data-i18n="semi-contact">お問い合わせ</p>
            <div class="contact">
            <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
            <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
            <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
            </div>
        </div>
    </div>
</a>
<div class="content-wrapper container">
    <div class="row">
        <p class="grey" data-i18n="contact-grey-1">下記のメールフォームに必要事項をご入力の上、お問い合わせください。 送信完了後、受領完了の自動送信メールをお送りしております。</p>
        <p class="grey" data-i18n="contact-grey-2">その後スタッフより2〜3日以内にメールでご連絡させていただきます。 万が一ご連絡がない場合はお手数ですが、お電話にてご連絡くださいますよう、お願い致します</p>
        <div class="col-md-7 col-12 heading--black">
            <form action="">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <input data-i18n="[placeholder]contact-name" placeholder="名前" type="text">
                    </div>
                    <div class="col-md-6 col-12">
                        <input data-i18n="[placeholder]contact-surname" placeholder="名字" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <input data-i18n="[placeholder]contact-name-2" placeholder="名前" type="text">
                    </div>
                    <div class="col-md-6 col-12">
                        <input data-i18n="[placeholder]contact-phone" placeholder="電話番号" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input data-i18n="[placeholder]contact-subject" placeholder="件名" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input data-i18n="[placeholder]contact-inquiry" placeholder="お問い合わせ内容" type="text">
                    </div>
                </div>
                <button class="btn btn-primary">SEND</button>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-1 col-12 heading--black">
            <i data-i18n="contact-access-1">Tokyo West International School - アクセス</i>
            <p data-i18n="contact-access-2" class="grey">総合電話受付</p>
            <a data-i18n="contact-access-3" href="tel:0426911441">042-691-1441 </a>
            <p data-i18n="contact-access-4" class="grey">メールアドレス</p>
            <a data-i18n="contact-access-5" href="mailto:admission@tokyowest.jp">admission@tokyowest.jp</a>
            <p data-i18n="contact-access-6" class="grey">所在地</p>
            <p data-i18n="contact-access-7">192-0013</p>
            <p data-i18n="contact-access-8">東京都八王子市梅坪町185</p>
            <p data-i18n="contact-access-9" class="grey">受付時間</p>
            <p data-i18n="contact-access-10">平日9:00 - 16:00</p>
            <a href="https://goo.gl/maps/9NVUY4RVVBo" target="_blank"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Contact+Us/location-icon.svg" alt=""></a>
        </div>
    </div>
</div>





 
