<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="curriculum-h1">カリキュラム</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
    
<div class="content-wrapper container">
    <div class="col-12 heading--black center">
        <p data-i18n="curriculum-grey-1" class="grey">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。これら5科目のスキルは生涯の様々な場面で自らを助ける大きな強みとなることでしょう。</p>
        <p data-i18n="curriculum-grey-2" class="grey">校内では日本語の授業を除き、すべてのコミュニケーションに英語を使用しています。ネイティブ教員からの指導はもとより、多数の外国籍児童が在籍する英語環境下で、生徒は友人との日常的な触れ合いからも英語の発音や表現のニュアンス、他国の文化を学んでいます。</p>
    </div>
    <div class="icons row">
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-01.svg"/>
            <strong data-i18n="curriculum-icon-1">言語 （英語・日本語）</strong>
            <p data-i18n="curriculum-icon-1-p">言語はその国の文化と密接に関連しています。国際社会でのコミュニケーションツールである英語と、日本で生活する為に必要な正しい日本語を、文化的背景や歴史と併せて指導します。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-02.svg"/>
            <strong data-i18n="curriculum-icon-2">数学</strong>
            <p data-i18n="curriculum-icon-2-p">
                    数理能力を養うことは、論理的に問題を考察する力や、客観的に物事を判断する力をも養うことに他なりません。これはあらゆる社会的場面で問題を解決するために役立ちます。生徒が「分かる楽しさ」を実感できるように、丁寧な指導で数理能力を伸ばします。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-03.svg"/>
            <strong data-i18n="curriculum-icon-3">体育</strong>
            <p data-i18n="curriculum-icon-3-p">体育は、体を鍛え健康に保つと同時に、チームワークや努力の大切さ、チャレンジ精神をも養える素晴らしい科目です。生徒が運動の楽しさに目覚め、生涯にわたり体を動かすことを実践していけるように、専門の教員が各競技を指導します。</p>
        </div>  
    </div>
    <div class="icons row">
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-04.svg"/>
            <strong data-i18n="curriculum-icon-4">プレゼンテーション・パフォーマンススキル</strong>
            <p data-i18n="curriculum-icon-4-p">社会に出てから人前で発表する機会は数多くあります。学生時代に経験する発表の成功体験は、将来のその日へ繋がる大きな自信となり、失敗は成功へ向けての良い学習となります。毎日の授業や学校行事でたくさんのプレゼンテーションやパフォーマンスの機会を設け、発表する楽しさや達成感を感じられるように導きます。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-05.svg"/>
            <strong data-i18n="curriculum-icon-5">プレゼンテーション・パフォーマンススキル</strong>
            <p data-i18n="curriculum-icon-5-p">社会に出てから人前で発表する機会は数多くあります。学生時代に経験する発表の成功体験は、将来のその日へ繋がる大きな自信となり、失敗は成功へ向けての良い学習となります。毎日の授業や学校行事でたくさんのプレゼンテーションやパフォーマンスの機会を設け、発表する楽しさや達成感を感じられるように導きます。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-06.svg"/>
            <strong data-i18n="curriculum-icon-6">日本語教育</strong>
            <p data-i18n="curriculum-icon-6-p">日本語が母国語もしくは、同等レベルの生徒に対しては、文科省の教科書を使用して日本の小中学校と同じ内容の学習をおこなっております。日本語が外国語となる生徒に対しては、Japanese language classとして、既存のクラスルームではなく、国語科に併設されているクラスにて特別授業をおこなっております。</p>
        </div>
    </div>
    <div class="icons row">
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-06.svg"/>
            <strong data-i18n="curriculum-icon-7">日本語教育</strong>
            <p data-i18n="curriculum-icon-7-p">日本語が母国語もしくは、同等レベルの生徒に対しては、文科省の教科書を使用して日本の小中学校と同じ内容の学習をおこなっております。日本語が外国語となる生徒に対しては、Japanese language classとして、既存のクラスルームではなく、国語科に併設されているクラスにて特別授業をおこなっております。</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Curriculum/icon-06.svg"/>
            <strong data-i18n="curriculum-icon-8">日本語教育</strong>
            <p data-i18n="curriculum-icon-8-p">日本語が母国語もしくは、同等レベルの生徒に対しては、文科省の教科書を使用して日本の小中学校と同じ内容の学習をおこなっております。日本語が外国語となる生徒に対しては、Japanese language classとして、既存のクラスルームではなく、国語科に併設されているクラスにて特別授業をおこなっております。</p>
        </div>
    </div>
</div>

