<div class="content-wrapper container">
  <div class="row">
    <div class="col-12 heading--black">
      <h3>Employment</h3>
      <p>If you are interested in working at our school, we encourage you to continue to check this webpage regularly; new vacancies are posted as they become available. Open CV’s can be sent to:</p>
      <br>
      <p>185 Umetsubo-machi, Hachioji city, Tokyo, Japan 192-0013<br><a href="mailto:admission@tokyowest.jp">admin@tokyowest.jp</a></p>
      <br>
      <p>Please see below for current job postings. Please note: At TWIS we receive a lot of applications each year for a limited number of positions. We apologize that we are not able to respond to each applicant individually and will only contact those whose applications we wish to pursue further.</p>
      <br>
      <hr>
      <h3>Health and Physical Education Teacher</h3>
      <p>
        We are seeking an experienced Health and Physical Education teacher for grades K3 up to Grade 9.<br>
        The successful applicant will have experience in designing and teaching Health and Physical Education classes in an International School environment, an ability to implement a student centred classroom and design interesting and challenging units.<br>
        This position will also include the implementation of the annual "Sports Day" , coaching and running an after school program, and implementation and creation of extra-curricular events.<br>
        Minimum of Bachelor in Education, teachers licence and 2 years experience.
      </p>
      <br>
      <h3>Science teacher</h3>
      <p>
        We are seeking an experienced Health and Physical Education teacher for grades K3 up to Grade 9.<br>
        We are seeking an experienced science teacher who can teach Middle school science, science labs from Grade 1 - Grade 9, and who would over see the school wide science program.<br>
        Minimum of Bachelor in Education, teachers licence and 2 years experience.
      </p>
      <br>
      <h3>Homeroom teacher</h3>
      <p>
        We are seeking an elementary homeroom teacher,<br>
        The successful applicant will have an ability to facilitate a student centred classroom. Experience in backward design unit planning, differentiation for ESL learners and digital learning is desired.<br>
        All teachers are required to contribute to extra curricular activities of the school. <br>
        Minimum of Bachelor in Education, teachers licence and 2 years experience
      </p>
    </div>
  </div>
</div>








 
