<div class="content-wrapper container">
  <div class="row">
    <div class="col-12 heading--black">
      <h3>Employment</h3>
      <p>If you are interested in working at our school, we encourage you to continue to check this webpage regularly; new vacancies are posted as they become available. Open CV’s can be sent to:</p>
      <br>
      <p>185 Umetsubo-machi, Hachioji city, Tokyo, Japan 192-0013<br><a href="mailto:admission@tokyowest.jp">admin@tokyowest.jp</a></p>
      <br>
      <p>Please see below for current job postings.Please note: At TWIS we receive a lot of applications each year for a limited number of positions. We apologize that we are not able to respond to each applicant individually and will only contact those whose applications we wish to pursue further.</p>
      <br>
      <hr>
      <p>No job postings at the moment</p>
    </div>
  </div>
</div>








 
