<div class="hero heading--white text--white svg--white">
    <div class="hero__content">
        <p data-i18n="facility-gallery-h1-p">2015年に新設した八王子キャンパスは、防犯・防災・安全を最優先に最新設備を完備した快適な学習環境です。教室内には太陽の光があふれ、窓の外には自然が広がり、美しい四季の変化が楽しめます。</p>
    </div>`
    <div class="hero__content offset">
        <h1 data-i18n="facility-gallery-h1">施設写真</h1>
    </div>
</div>
    
<div class="content-wrapper container">

    <div class="gallery row">
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/01.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/01.jpg" alt="" />
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/02.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/02.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/03.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/03.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/04.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/04.jpg"/>
            </a>
        </div>  
    </div>
    <div class="gallery row">
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/05.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/05.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/06.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/06.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/07.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/07.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/08.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/08.jpg"/>
            </a>
        </div>  
    </div>
</div>

