<div class="triple row">
    <div class="col-md-4 col-12 heading--white elementary">
        <h3 data-i18n="elementary-title">小学部</h3>
        <p class="reveal"><span data-i18n="elementary-text" >Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</span>
        <br/><br/><span data-i18n="elementary-text-2" >Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</span></p>
        <p class="scrollDown reveal">SEE TEACHERS<img src="/assets/images/arrow-white.svg"/></p>
        <p class="block">小学部</p>
    </div>
    <div class="col-md-4 col-12 heading--white teacher">
        <h3 data-i18n="teacher-title">中学部</h3>
        <p class="reveal"><span data-i18n="teacher-text" >Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</span>
        <br/><br/><span data-i18n="teacher-text-2" >Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</span></p>
        <p class="scrollDown reveal">SEE TEACHERS<img src="/assets/images/arrow-white.svg"/></p>
        <p class="block">中学部</p>
    </div>
    <div class="col-md-4 col-12 heading--white secretary">
        <h3 data-i18n="secretary-title">事務局</h3>
        <p data-i18n="secretary-text" class="reveal">Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</p>
        <p class="scrollDown reveal">SEE MEMBERS<img src="/assets/images/arrow-white.svg"/></p>
        <p class="block">事務局</p>
    </div>
</div>
<div class="select-wrap">
    <select name="" id="select" class="mobile">
        <option value="elementary" data-i18n="elementary-title">小学部</option>
        <option value="teacher" data-i18n="teacher-title">中学部</option>
        <option value="secretary" data-i18n="secretary-title">事務局</option>
    </select>
</div>
<div class="members row">
    <div class="col-12 elementary-list list">
        <p data-i18n="elementary-text" class="mobile">我々は、小学部スタッフの教育に対する献身さと常にベストを尽くそうとする向上心を誇りに思っております。そして彼らの親しみやすさは特に新しい生徒の皆様にとって、とても印象深い特徴の１つです。我々は優れた教育を提供することに真剣に取り組んでいます。生徒の指導やフィードバック、生徒一人一人に合った教育方針、そして学童などの教育サービスや入学案内から個別進路ガイダンスまで、常に教育の質を高めるために努めています。</p>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MORTEN+VATN.png" alt="">
            <strong>MORTEN VATN</strong>
            <p>Head of School</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/CHRIS-UNWIN.png" alt="">
            <strong>CHRIS UNWIN</strong>
            <p>Vice Head of School</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/JOHN-LINGA.png" alt="">
            <strong>JOHN LINGA</strong>
            <p>G6 Teacher<br>ACCREDITATION/CURRICULUM COORDINATOR</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/SEAN-TRAINOR.png" alt="">
            <strong>SEAN TRAINOR</strong>
            <p>G5 TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/JOSEPH-DIMLA.png" alt="">
            <strong>JOSEPH DIMLA</strong>
            <p>G4A Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MONICA-BEATTY.png" alt="">
            <strong>MONIQA BEATTY</strong>
            <p>G4B Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/KATHRYN-LEHNER.png" alt="">
            <strong>KATHRYN LEHNER</strong>
            <p>G3A Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/STEFANO-BRANDI.png" alt="">
            <strong>STEFANO BRANDI</strong>
            <p>G3B Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/DENNIE-MONTALBO.png" alt="">
            <strong>DENNIE MONTALBO</strong>
            <p>G2A Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/NOMIE-BRAVO.png" alt="">
            <strong>NONIE BRAVO</strong>
            <p>G2B Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Rosie-Blakely.png" alt="">
            <strong>Rosie Blakely</strong>
            <p>G1A TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/CATHERINE-MANCIO.png" alt="">
            <strong>CATHERINE MANCIO</strong>
            <p>G1B TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/NICOLAS-BERNARD.png" alt="">
            <strong>NICOLAS BERNARD</strong>
            <p>ESL SUPPORT TEACHER/ICT</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/HUGO-PIRES.png" alt="">
            <strong>HUGO PIRES</strong>
            <p>H.P.E. TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Sheryl-Bridgewater.png" alt="">
            <strong>Sheryl Bridgewater</strong>
            <p>MUSIC TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Education+Leadership+Members/yukiko.png" alt="">
            <strong>YUKIKO KAWASAKI</strong>
            <p>ADMISSIONS DIRECTOR</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/KAZUKI-NARITA.png" alt="">
            <strong>KAZUKI NARITA</strong>
            <p>Japanese Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/ERI-MINOKAWA.png" alt="">
            <strong>ERI MINOKAWA</strong>
            <p>Japanese Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MANAMI-KIUCHI.png" alt="">
            <strong>MANAMI KIUCHI</strong>
            <p>Japanese Teacher</p>
        </div>
    </div>
    <div class="col-12 teachers-list list">
        <p data-i18n="teacher-text" class="mobile">我々は、小学部スタッフの教育に対する献身さと常にベストを尽くそうとする向上心を誇りに思っております。そして彼らの親しみやすさは特に新しい生徒の皆様にとって、とても印象深い特徴の１つです。我々は優れた教育を提供することに真剣に取り組んでいます。生徒の指導やフィードバック、生徒一人一人に合った教育方針、そして学童などの教育サービスや入学案内から個別進路ガイダンスまで、常に教育の質を高めるために努めています。</p>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MORTEN+VATN.png" alt="">
            <strong>MORTEN VATN</strong>
            <p>Head of School<br>MS SOCIAL SCIENCES/MUSIC TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/CHRIS-UNWIN.png" alt="">
            <strong>CHRIS UNWIN</strong>
            <p>Vice Head of School<br>G6&MS H.P.E./TAD/ENGLISH TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MONICA-BEATTY.png" alt="">
            <strong>MONIQA BEATTY</strong>
            <p>MS ENGLISH TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/JOHN-LINGA.png" alt="">
            <strong>JOHN LINGA</strong>
            <p>G6 Teacher<br>ACCREDITATION/CURRICULUM COORDINATOR</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/SEAN-TRAINOR.png" alt="">
            <strong>SEAN TRAINOR</strong>
            <p>G6 SOCIAL SCIENCES TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Richard-Deseo.png" alt="">
            <strong>Richard Deseo</strong>
            <p>Science Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Sheryl-Bridgewater.png" alt="">
            <strong>Sheryl Bridgewater</strong>
            <p>MUSIC TEACHER</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Education+Leadership+Members/yukiko.png" alt="">
            <strong>YUKIKO KAWASAKI</strong>
            <p>ADMISSIONS DIRECTOR</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/KAZUKI-NARITA.png" alt="">
            <strong>KAZUKI NARITA</strong>
            <p>Japanese Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/ERI-MINOKAWA.png" alt="">
            <strong>ERI MINOKAWA</strong>
            <p>Japanese Teacher</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/MANAMI-KIUCHI.png" alt="">
            <strong>MANAMI KIUCHI</strong>
            <p>Japanese Teacher</p>
        </div>
    </div>
    <div class="col-12 secretary-list list">
        <p data-i18n="secretary-text" class="mobile">我々は、小学部スタッフの教育に対する献身さと常にベストを尽くそうとする向上心を誇りに思っております。そして彼らの親しみやすさは特に新しい生徒の皆様にとって、とても印象深い特徴の１つです。我々は優れた教育を提供することに真剣に取り組んでいます。生徒の指導やフィードバック、生徒一人一人に合った教育方針、そして学童などの教育サービスや入学案内から個別進路ガイダンスまで、常に教育の質を高めるために努めています。</p>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Ananda-Gurung.png" alt="">
            <strong>Ananda Gurung</strong>
            <p>Administration Director</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Education+Leadership+Members/yukiko.png" alt="">
            <strong>YUKIKO KAWASAKI</strong>
            <p>ADMISSIONS DIRECTOR/HEAD OF JAPANESE DEPARTMENT</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Yoshikazu-Tanaka.png" alt="">
            <strong>Yoshikazu Tanaka</strong>
            <p>Finance Director</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Airi-Otsuka.png" alt="">
            <strong>Airi Otsuka</strong>
            <p>ACCOUNTANT</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Makiko-Ishida.png" alt="">
            <strong>Makiko Ishida</strong>
            <p>Nurse</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Andy-Wang.png" alt="">
            <strong>Andy Wang</strong>
            <p>CHEF</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Nao-Sugiyama.png" alt="">
            <strong>Nao Sugiyama</strong>
            <p>CHEF</p>
        </div>
        <div class="col-md-2 col-12 center">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Faculty+Members/Avatars/Shiori-Otsuka.png" alt="">
            <strong>Shiori Otsuka</strong>
            <p>CLEANING STAFF</p>
        </div>
    </div>
</div>

