<div class="hero heading--black text--black">
    <div class="side">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/gsalogo.svg" alt="gsa">
        <h1 data-i18n="gsa-h1">GSAグループについて</h1>
        <p class="main" data-i18n="gsa-intro">Global Step Academy (GSA)グループは、「次世代を担う子供達の将来の可能性を大きく広げる」という理念の基、国際事業に特化した事業を行なっています。</p>
        <p class="blue" data-i18n="gsa-blue">事業一覧</p>
        <ul class="col-12 col-sm-7 col-md-7">
            <li data-i18n="gsa-li-1">オンライン教育</li>
            <li data-i18n="gsa-li-2">インターナショナルスクール運営</li>
            <li data-i18n="gsa-li-3">学童保育</li>
        </ul>
        <ul class="col-12 col-sm-5 col-md-5">
            <li data-i18n="gsa-li-4">国際教育メディア</li>
            <li data-i18n="gsa-li-5">国際教育コンサルティング</li>
            <li data-i18n="gsa-li-6">チュータリング</li>
        </ul>
        <p data-i18n="gsa-li-end">グループページはこちらをご覧ください。</p>
        <a href="https://www.gsacademy.com/" class="more">Website <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
</div>   