<div class="hero heading--white text--white svg--white">
  <div class="hero__content">
    <h1 data-i18n="h1">“Providing the foundations and opportunities for the next generation to pursue their dreams.”</h1>
  </div>
  <div class="contact-semi">
    <img src="/assets/images/arrow-white.svg"/>
    <p data-i18n="semi-contact">お問い合わせ</p>
    <div class="contact">
      <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
      <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
      <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
    </div>
  </div>
</div>

<div class="content-wrapper">
  
  <div class="circles">
    <a href="/contact" class="circle">
      <p data-i18n="circle-1">質問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
    <a href="#" class="circle">
      <p data-i18n="circle-2">訪問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
    <a href="#" class="circle">
      <p data-i18n="circle-3">訪問する</p>
      <img src="/assets/images/arrow-white.svg"/>
    </a>
  </div>

  <div class="row news-row">
    <div class="block background--white heading--blue">
      <h2>Latest News</h2>
      <div class="news">
        <div class="news-item">
          <p class="date">2018年05日04<span class="type">News</span></p><p class="content">An international school will newly open in April 2019 along with Honda Keisuke’s KSK group. We have published the press release on PR TIMES.</p><span data-toggle="modal" data-target=".news-1">Read More <img src="/assets/images/arrow-blue.svg"></span>
        </div>
        <div class="news-item">
          <p class="date">2018年05日02<span class="type">News</span></p><p class="content">GSA Summer School will be held in Ichigawa, Tachikawa, Hachioji, and Chuorinkan.</p><a>Read More <img src="/assets/images/arrow-blue.svg"></a>
        </div>
        <div class="news-item">
          <p class="date">2018年04日21<span class="type">News</span></p><p class="content">Tokyo Global Summer School 2018 where students can enjoy experiencing a real American summer school with American kids will open this summer. </p><a>Read More <img src="/assets/images/arrow-blue.svg"></a>
        </div>
      </div>
      <!-- <a href="/news" class="more">See all news <img class="arrow" src="/assets/images/arrow-blue.svg"/></a> -->
    </div>
  </div>

  <div class="modal fade news-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="heading--white center">
            <img class="close" src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/close-white.svg" data-dismiss="modal" aria-label="Close" alt="">
            <h3>2018年度 （2018年8月開始） G1一般外部生入学説明会のご案内</h3>
        </div>
        <div class="wrap">
          <div class="row">
            <div class="col-md-6 col-12">
              <p class="blue">説明会日時:</p>
              <p>2018年8月30日 (木) 10:00 - 11:30</p>
            </div>
            <div class="col-md-6 col-12">
              <p class="blue">説明会場所:</p>
              <p>東京ウエストインターナショナルスクール (八王子市梅坪町185)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <table>
                <tr>
                  <td>第1回目</td>
                  <td>第2回目</td>
                  <td>第3回目</td>
                </tr>
                <tr>
                  <td>G1一般外部生入学説明会</td>
                  <td>G2一般外部生入学説明会</td>
                  <td>G3一般外部生入学説明会</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <p class="blue">説明会内容:</p>
              <p>年間カリキュラムとカレンダー、行事および当校の特色のご説明スクールバス、ランチ、ユニフォーム、延長保育などのご説明、施設のご見学出願のプロセスや年間学費についてのご説明、参加者様からのご質問</p>
            </div>
            <div class="col-md-6 col-12">
              <p class="blue">募集定員:</p>
              <p>小学部1年生G1 約20名</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="blue">説明会のご予約方法:</p>
              <p><a href="">リンク</a> にて、必ず、下記ご項目をご連絡の上、ご予約ください：保護者の氏名（かな併記）、お子様の氏名（かな併記）、お子様の性別、お誕生日および年齢、ご住所、お電話番号（携帯可）、説明会希望日時</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row programs">
    <div class="block heading--white desktop">
      <div class="program-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/about-us.jpg');">
        <h3>About Us</h3>
        <p data-i18n="about">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
        <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
      </div>
      <div class="program-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/program.jpg');">
        <h3>Program</h3>
        <p data-i18n="program">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
        <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
      </div>
      <div class="program-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/special-offer.jpg');">
        <h3>Special Offer</h3>
        <p data-i18n="offers">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
        <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
      </div>
      <div class="program-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/boost-program.jpg');">
        <h3>Boost Program</h3>
        <p data-i18n="boost">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
        <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
      </div>
    </div>

    <div id="carousel" class="carousel slide mobile" data-ride="carousel">    
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/about-us.jpg" alt="">
          <div class="carousel-caption">
            <h3>About Us</h3>
            <p data-i18n="about">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
            <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
          </div>
        </div>

        <div class="item">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/program.jpg" >
          <div class="carousel-caption">
            <h3>Program</h3>
            <p data-i18n="program">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
            <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
          </div>
        </div>

        <div class="item">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/special-offer.jpg" >
          <div class="carousel-caption">
            <h3>Special Offer</h3>
            <p data-i18n="offers">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
            <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
          </div>
        </div>

        <div class="item">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/boost-program.jpg" >
          <div class="carousel-caption">
            <h3>Boost Program</h3>
            <p data-i18n="boost">私たちは、多数の科目の中でも特に言語、数学、体育、音楽、プレゼンテーション・パフォーマンススキルの5つの科目(能力)のスキルアップを重視して指導を行っています。これは、生徒が受験主体の試験勉強のみでなく、広い視野で学び、将来に活かせる応用力を培うことが大切であると考えているためです。</p>
            <a href="/news" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <div class="row location">
    <div class="block background--white heading--blue">
      <div class="location-box"><div class="location-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/circle-01.png')"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/location-icon.png" alt="location"></div><p data-i18n="location">ロケーション</p></div>
      <div class="location-box"><div class="location-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/circle-02.png')"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/bus-icon.png" alt="bus"></div><p data-i18n="bus">スクールバス</p></div>
      <div class="location-box"><div class="location-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/circle-03.png')"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/sun-icon.png" alt="sun"></div><p data-i18n="seasonal">サマースクール</p></div>
    </div>
  </div>

  <div class="row login" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/parent-access-background.jpg');">
    <div class="block heading--white text--white">
      <div class="">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/parent-acces-icon.png" alt="location">
        <p data-i18n="parents">保護者専用ページ</p>
        <a href="/login" class="more">Visit Page <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
      </div>
    </div>
  </div>

  <div class="testimonials row heading--blue">
    <h2>Testimonials</h2>
    <div class="multiple-items center">
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/parent-Shiori-Ishijima.png" alt="location">
        <h4>Shiori Ishijima</h4>
        <p>Pre-K - Parent</p>
        <p data-i18n="testimonial-shiori">コメント：家から近いこと、給食があること、そして看護師さんが園内に常駐していることに魅力を感じ入園を決めました。先生方は個々の特徴をしっかりと捉えて、よく観てくださっていると感じています。</p>  
        <p data-i18n="testimonial-shiori-reveal" class="reveal">写真を見るといつも楽しそうにしているので嬉しいです。またカリキュラムについて、毎月のテーマにそって授業が行われており、大人からみても非常に魅力的で充実した内容であると思っています。 娘はMusicが好きで、たまに家でも口ずさんでいます。</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/parent-Phillip-and-jennifer-hoggatt.png" alt="location">
        <h4>Phillip & Jennifer Hoggatt</h4>
        <p>K4 - Parent</p>
        <p data-i18n="testimonial-hoggatt">コメント：先生方が本当に生徒のことをよく観てくださっていることに魅力を感じています。学校での様子をDojoクラスを通じてしっかりと知らせてくれるので、授業の様子などの詳細を把握することができます。</p>
        <p data-i18n="testimonial-hoggatt-reveal" class="reveal">また、娘のクラスメート全員の誕生日パーティをしているのがとても良かったです。さらに、学校のイベントでは、ホリデイプレゼンテーション、ハロウィーンとクリスマスの歌とダンスもお気に入りです。娘は、遠足も毎回楽しみにしています！授業についても、Jolly Phonicsを使用しているところがとても良いと感じます。娘のリーディングとライティングの勉強にちょうどいいです。We love this school!</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/parent-Noel-le-boeuf.png" alt="location">
        <h4>Noel LeBoeuf</h4>
        <p>K4 - Parent</p>
        <p data-i18n="testimonial-noel">コメント：TWISに通っているお友達の保護者の方からオススメされて入園しました。娘と先生方の相性がとても良いと感じております。また、カリキュラムも充実していて、体育や音楽の授業が含まれているところが嬉しいです。</p>
        <p data-i18n="testimonial-noel-reveal" class="reveal">娘のお気に入りの授業は美術と科学ですが、私的にはClass Dojoも好きです。さらに、遠足もたくさんあって最高です！</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/teacher-Hugo-Pires.png" alt="location">
        <h4>Hugo Pires</h4>
        <p>P.E. Teacher</p>
        <p data-i18n="testimonial-hugo">TWISでは、体育教育は包括的で一生涯続くべきであると考えております。体育の授業は全員が参加するものであり、TWISでは生徒が皆、スキルレベルを問わず、体育の授業に参加するよう励ましております。</p>
        <p data-i18n="testimonial-hugo-pires" class="reveal">これは、学校でポジティブな経験をすることで、学校外でも積極的になれると私たちは信じているからです。皆さんが我々の提供する体育教育を楽しみながら優れた結果を残すことができ、そして一つ一つのアクティビティを通して得た知識やスキルを元に、自分の成功や将来の努力に活用させることができるよう期待しております。</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/teacher-Kathryn-Lehner.png" alt="location">
        <h4>Kathryn Lehner</h4>
        <p>G3A Teacher</p>
        <p data-i18n="testimonial-kath">生徒はみんな自分のことや世界について、ユニークで洞察的な理解を持っています。彼らはTWISのポジティブで国際的な文化の基盤です。私は彼らの努力と強靭性により、もっとより良い教育者になるよう励まされます。</p>
        <p data-i18n="testimonial-kath-reveal" class="reveal">TWISは、意味深い学習を生徒たちに提供し、生徒たちをグローバルな思考を持ち将来学び続けられる人格に育てられるよう、先生たちにもっと効果的で創造的になるようチャレンジしてくれる素晴らしい場所です。</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
      <div class="testimonial-item">
        <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/testimonials/teacher-maki-ishida.png" alt="location">
        <h4>Maki Ishida</h4>
        <p>Nurse</p>
        <p data-i18n="testimonial-maki">もしあなたが傷ついたり、具合が悪い時、わたしはあなたのそばにいます。生徒一人一人が自分の学習に集中できるよう、いつでも助けがあるという安心感を与えたいと思っています。</p>
        <p data-i18n="testimonial-maki-reveal" class="reveal">TWISはみんなが互いを知り合う、フレンドリーなコミュニティです。TWISの教員と生徒は、共通した目標を努力しながら達成し、学校生活のあらゆる面で成長ができるよう、互いにwork very closelyしています。 TWISの生徒は活気に満ち、好奇心に富み、楽しみながら学習をしています。</p>
        <span class="more blue">Read More <img class="arrow" src="/assets/images/arrow-blue.svg"/></span>
      </div>
    </div>
  </div>

  <div class="row social">
    <div class="block background--blue heading--white text--white">
      <div class="fb-page" data-href="https://www.facebook.com/tokyowestis/" data-tabs="timeline" data-width="330" data-height="430" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tokyowestis/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tokyowestis/">Tokyo West International School</a></blockquote></div>
      <div class="follow">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/tokyowestis/" target="_blank"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/facebook.png" alt="facebook"></a>
        <a class="insta-icon" href="#" target="_blank"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/instagram.png" alt="instagram"></a>
      </div>
    </div>
  </div>

  <div class="row see-more">
    <div class="block background--white heading--blue text--white">
      <h2>See More</h2>
      <a href="https://www.gsacademy.com/" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-01.jpg');">
        <p data-i18n="more-gsa">GSA <span>グループ</span></p>
      </a>
      <a href="https://www.gsacademy.com/online/index.html" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-02.jpg');">
        <p data-i18n="more-online">GSA<span>オンラインレッスン</span></p>
      </a>
      <a href="/school-gallery" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-03.jpg');">
        <p data-i18n="more-gallery">施設ギャラリー</p>
      </a>
      <a href="/facility-gallery" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-04.jpg');">
        <p data-i18n="more-faculty">スクールギャラリー</p>
      </a>
    </div>
  </div>

  <div class="row partners">
    <div class="block background--white heading--blue text--white">
      <div class="partner-item">
        <h2>OUR PARTNERS</h2>
        <div class="logos">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/GSA-logo.png" alt="gsa">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/IST-logo.png" alt="ist">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/CFIS-logo.png" alt="cfis">
        </div>
      </div>
      <div class="partner-item">
        <h2>Accreditation</h2>
        <div class="logos">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/AdvencED-logo.png" alt="advanced">
          <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/WASC-logo.png" alt="wasc">
        </div>
      </div>
    </div>
  </div>

  <script>
    // fetch('https://www.gsacademy.com/api/v1/news/headlines.json?brand_id=2', {
    //   method: 'GET',
    //   headers: {
    //     'Accept': 'application/json',
    //     'Content-Type': 'application/json',
    //   },
    // })
    // .then((response) => {
    //   return response.text();
    // })
    // .then((data) => {
    //   news = JSON.parse(data)
    //   for(var i = 0; i < 3; i++){
    //     $('.news').append( 
    //       '<div class="news-item">' +
    //         '<p class="date">'+news[i].date+'<span>News</span></p>'+
    //         '<p class="content">'+news[i].content+'</p>'+
    //         '<a>Read More <img src="/assets/images/arrow-blue.svg"/></a>'+
    //       '</div>'
    //     )
    //   }
    //   console.log(news)
    // })
  </script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=1831651373739778&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
