<div class="content-wrapper container">
    <div class="row">
        <div class="col-12 heading--black">
            <h3 data-i18n="privacy-title">プライバシーポリシー</h3>
            <p data-i18n="privacy-1">Tokyo West International School（以下「本校」といいます。）は、次の方針（以下「本方針」といいます。）に従い、本校が保有する個人情報の管理に細心の注意を払い、これを取り扱うものとします。なお、本文中の用語の定義は、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）及び関連法令によります。</p>
            <br>
            <p data-i18n="privacy-2">1.個人情報の保有</p>
            <p data-i18n="privacy-3">本方針において、本が保有する個人情報とは、生徒又はその保護者より口頭若しくは書面により提供を受けた情報又は日々の業務を通じて取得した情報を指します。生徒又はその保護者が、授業中又は授業外で当社の教職員と個人的に接触した時に、生徒又はその保護者が自発的に提供した情報については、本校が保有する情報とはみなしません。（第9条ご参照）</p>
            <br>
            <p data-i18n="privacy-4">2.個人情報の利用目的</p>
            <p data-i18n="privacy-5">（1）本校は、個人情報について、以下の利用目的の範囲内又は別途明示した利用目的がある場合には当該利用目的の範囲内で利用し、本人の同意がある場合又は法令で認められている場合を除き、他の目的で利用しません。また、利用目的を変更する場合には、その内容を本人に通知するか、ウェブサイト等により公表します。</p>
            <br>
            <p data-i18n="privacy-6">①生徒募集及び入学に関する業務のため</p>
            <p data-i18n="privacy-7">②生徒の記録管理のため</p>
            <p data-i18n="privacy-8">③生徒の健康状態把握のため</p>
            <p data-i18n="privacy-9">④保護者との連絡のため</p>
            <p data-i18n="privacy-10">⑤授業実施に関するスケジュール等の策定及び連絡のため</p>
            <p data-i18n="privacy-11">⑥サービスに係る情報（ニュースレター、キャンペーン、アンケート等）配信のため</p>
            <p data-i18n="privacy-12">⑦本校が提供するサービスに関する情報配信のため</p>
            <p data-i18n="privacy-13">⑧テストの採点、テスト結果の分析等のため</p>
            <p data-i18n="privacy-14">⑨サービスに関するご意見・お問合せの正確な把握、それらへの回答のため</p>
            <p data-i18n="privacy-15">⑩顧客動向の分析、商品開発等の調査分析のため</p>
            <p data-i18n="privacy-16">⑪個人情報の開示等のお求めに応じる場合に必要な当該生徒のご本人確認のため</p>
            <p data-i18n="privacy-17">⑫災害等の緊急事態が発生した際の連絡・対応のため</p>
            <p data-i18n="privacy-18">⑬サービスご利用料金の精算、遅延金等の回収のため</p>
            <br>
            <p data-i18n="privacy-19">（2）本校は、本方針に記載した以外の用途で個人情報をやむをえず利用するときは、個人情報保護法第16条第3号に掲げる場合を除き、本人の事前の同意を求めるものとします。</p>
            <br>
            <p data-i18n="privacy-20">3.個人情報の保護及び管理</p>
            <p data-i18n="privacy-21">本校は、個人情報の取扱いについて、その重要性を深く認識し、生徒及び保護者の個人情報に関する権利を保障するために、本方針を定め、以下の事項を実施いたします。</p>
            <p data-i18n="privacy-22">①個人情報保護法及び関係法令を遵守いたします。</p>
            <p data-i18n="privacy-23">②個人情報の漏洩、滅失、毀損又は改ざん等のリスクを防止するため、技術面及び組織面において合理的な安全対策を実施いたします。</p>
            <p data-i18n="privacy-24">③個人情報の取扱いに関するお問い合わせに対して、窓口を設けて迅速かつ誠実に対応し、その解決にあたります。</p>
            <p data-i18n="privacy-25">④個人情報の適切な取扱いを徹底するため、本校の情報セキュリティー体制を定期的に見直し、継続的に改善いたします。</p>
            <br>
            <p data-i18n="privacy-26">4.個人情報の第三者への提供・共有</p>
            <p data-i18n="privacy-27">（1）本校は、原則として、本人の事前の同意を得ずに個人情報を第三者に提供又は共有いたしません。ただし、以下の場合を除きます。</p>
            <p data-i18n="privacy-28">①第5条に規定する共同利用の場合</p>
            <p data-i18n="privacy-29">②個人情報保護法第23 条第1項各号に規定する場合</p>
            <p data-i18n="privacy-30">③生徒又は保護者の本校規則の違反行為に対して法的な措置を含む必要な措置をとる場合</p>
            <p data-i18n="privacy-31">④法令に基づき、裁判所の令状又は警察等の公的機関の有効な命令により開示を求められた場合</p>
            <p data-i18n="privacy-32">⑤その他法令上の要件を満たした場合</p>
            <p data-i18n="privacy-33">（2）本校は、外国（個人の権利利益を保護するうえで我が国と同等の水準にあると認められる個人情報の保護に関する制度を有している外国として個人情報保護委員会規則で定めるものを除きます。）にある第三者（個人データの取扱いにつき個人情報保護委員会規則で定める基準に適合する態勢を整備している者を除きます。）に個人データを提供する場合には、個人情報保護法第23条第1項各号に掲げる場合を除き、本人からこれを認める同意または本方針の関連する条項に従ってこれを提供することを認める同意を取得します。</p>
            <br>
            <p data-i18n="privacy-34">5.パートナー事業者との個人情報の共有について</p>
            <p data-i18n="privacy-35">本校は、生徒ひとりひとりに対してより効果的な教育を提供するため、パートナー事業者との連携を図っております。そのため、下記の範囲内で個人データを共同利用させていただきます。共同利用させていただくにあたっては、厳重な情報管理に努めて参りますので、ご理解いただきますようお願いいたします。</p>
            <p data-i18n="privacy-36">（1）共同利用する個人データの範囲</p>
            <p data-i18n="privacy-37">氏名、性別、生年月日、住所、電話番号、メールアドレス、生徒の在籍時に本校が作成した記録</p>
            <p data-i18n="privacy-38">[ただし、要配慮個人情報（個人情報保護法第2条第3項）を除く。]</p>
            <p data-i18n="privacy-39">（2）共同利用者の範囲</p>
            <p data-i18n="privacy-40">株式会社GLOBAL EDUCATIONAL PARTNERS及びその関連会社、並びに本校とパートナー事業者の関係にある教育事業者であって、生徒又は保護者がそのサービスを利用しようとするもの</p>
            <p data-i18n="privacy-41">パートナー事業者の一覧については、こちらをご覧ください。</p>
            <p data-i18n="privacy-42">-株式会社ウィズダムアカデミー</p>
            <p data-i18n="privacy-43">[※生徒及び保護者との接点のないパートナー事業者に本校から情報提供を行うことはありません。]</p>
            <p data-i18n="privacy-44">（3）利用目的</p>
            <p data-i18n="privacy-45">①カリキュラム作成、教職員への事前情報の提供、テスト結果の分析等のサービス提供のため</p>
            <p data-i18n="privacy-46">②サービスに係る情報（ニュースレター、キャンペーン、アンケート等）配信のため</p>
            <p data-i18n="privacy-47">③顧客動向の分析、商品開発等の調査分析のため</p>
            <p data-i18n="privacy-48">（4）個人データの管理について責任を有する者</p>
            <p data-i18n="privacy-49">株式会社GLOBAL EDUCATIONAL PARTNERS</p>
            <p data-i18n="privacy-50">（5）なお、パートナー事業者のサービス提供時の記録につきましても、本校からのより良いサービス提供のため、本校との間で共同利用させていただきます。</p>
            <br>
            <p data-i18n="privacy-51">6.個人情報の正確性</p>
            <p data-i18n="privacy-52">個人情報は、ご提供いただく時点での内容が正確かつ最新であることについて、生徒又は保護者が責任を負うものとします。</p>
            <br>
            <p data-i18n="privacy-53">7.開示等の請求</p>
            <p data-i18n="privacy-54">（1）保有個人データについて開示のご請求があった場合には、業務の適正な実施に著し</p>
            <p data-i18n="privacy-55">い支障を及ぼすおそれがある場合等を除き、本人に対して開示します。</p>
            <p data-i18n="privacy-56">（2）保有個人データについて内容の訂正、追加または削除のご請求があった場合には、利用目的の達成に必要な範囲内において、必要な調査を行い、訂正等する場合には当該調査結果に基づき行います。</p>
            <p data-i18n="privacy-57">（3）保有個人データについて利用の停止もしくは消去または第三者への提供の停止のご請求があった場合において、その請求に正当な理由があることが判明したときは、当該保有個人データの利用停止等を行います。</p>
            <p data-i18n="privacy-58">（4）前各項に定める開示等の請求は、第11条に定める窓口にて受け付けます。</p>
            <br>
            <p data-i18n="privacy-59">8.パンフレットやウェブサイト等での写真使用</p>
            <p data-i18n="privacy-60">本校で撮影した写真データをパンフレットやウェブサイトで使用する場合、以下の点を厳守します。</p>
            <p data-i18n="privacy-61">（1）個人の特定ができるような写真を掲載する場合は、本人の同意を得るものとします。</p>
            <p data-i18n="privacy-62">（2）本人から写真の修正や掲載中止の要請を受けた場合は速やかに処理を行うものとします。</p>
            <br>
            <p data-i18n="privacy-63">9.免責事由</p>
            <p data-i18n="privacy-64">第1条に定めるとおり、生徒及び保護者が教職員に対して個人的に提供した情報は、本校が保有する個人情報ではありませんので、本方針で保護・管理する対象の個人情報に該当いたしません。よって、それらの情報のいかなる漏洩・流出等についても、本校は一切の責任を負いません。</p>
            <br>
            <p data-i18n="privacy-65">10.本方針の変更</p>
            <p data-i18n="privacy-66">法令等で定めがある場合を除き、本校は、本人の事前のご承諾を得ることなく、当社のウェブサイト上に公示することで本方針を適宜変更できるものとします。</p>
            <br>
            <p data-i18n="privacy-68">11.個人情報の取り扱いに関する苦情・お問合せ・開示請求等の受付窓口</p>
            <p data-i18n="privacy-69">Tokyo West International School</p>
            <p data-i18n="privacy-70">Eメール：info＠tokyowest.jp</p>
            <br>
        </div>
    </div>
</div>








 
