<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="school-gallery-h1">スクールギャラリー</h1>
    </div>
</div>
    
<div class="content-wrapper container">

    <div class="gallery row">
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/01.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/01.jpg" alt="" />
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/02.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/02.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/03.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/03.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/04.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/04.jpg"/>
            </a>
        </div>  
    </div>
    <div class="gallery row">
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/05.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/05.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/06.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/06.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/07.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/07.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/08.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/08.jpg"/>
            </a>
        </div>  
    </div>
    <div class="gallery row">
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/09.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/09.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/10.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/10.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/11.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/11.jpg"/>
            </a>
        </div> 
        <div class="col-12 col-md-3">
            <a href="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/12.jpg" data-fancybox="gallery" data-caption="">
                <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/12.jpg"/>
            </a>
        </div>  
    </div>
</div>

