<div class="hero heading--white text--white">
    <div class="hero__content">
        <h1 data-i18n="bus-h1">学校まではスクールバスで、八王子駅より10分、立川駅より30分、玉川上水駅より40分、多摩センター駅より40分、国立駅より45分、町田駅より60分で到着します。 バス停へのお迎えは5分前までにお願い致します。</h1>
    </div>
    <img class="scrollDown" src="/assets/images/arrow-white.svg"/>
</div>
<div class="row">
    <div class="col-md-3 col-12 heading--white hachioji">
        <h3 data-i18n="hachioji-title">Hachioji</h3>
        <p class="reveal"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">八王子駅</span><span class="grey" data-i18n="">(北口)</span></p>
        <p class="reveal time"><span>08:25</span><span>15:55</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/school-icon.svg" class="school" alt=""><span data-i18n="">東京ウエストインターナショナルスクール</span><img class="right" src="/assets/images/arrow-white.svg"/></p>
        <p class="reveal time"><span>08:40</span><span>15:40</span></p>
    </div>
    <div class="col-md-3 col-12 heading--white machida">
        <h3 data-i18n="machida-title">Machida</h3>
        <p class="reveal"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">町田駅</span></p>
        <p class="reveal time"><span>07:20</span><span>16:50</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">多摩センター駅</span><img class="right" src="/assets/images/arrow-white.svg"/></p>    
        <p class="reveal time"><span>07:50</span><span>16:20</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/school-icon.svg" class="school" alt=""><span data-i18n="">多摩センター駅</span><img class="right" src="/assets/images/arrow-white.svg"/></p>
        <p class="reveal time"><span>08:30</span><span>15:40</span></p>
    </div>
    <div class="col-md-3 col-12 heading--white yokota">
        <h3 data-i18n="yokota-title">Yokota</h3>
        <p class="reveal"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">横田エアベース</span><span class="grey" data-i18n="">(東口)</span></p>
        <p class="reveal time"><span>08:00</span><span>16:20</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">昭島駅（北口）</span><img class="right" src="/assets/images/arrow-white.svg"/></p>    
        <p class="reveal time"><span>08:15</span><span>16:05</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/school-icon.svg" class="school" alt=""><span data-i18n="">東京ウエストインターナショナルスクール</span><img class="right" src="/assets/images/arrow-white.svg"/></p>
        <p class="reveal time"><span>08:40</span><span>15:40</span></p>
    </div>
    <div class="col-md-3 col-12 heading--white tachikawa">
        <h3 data-i18n="tachikawa-title">Tachikawa</h3>
        <p class="reveal"><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">玉川上水駅</span></p>
        <p class="reveal time"><span>07:40</span><span>16:40</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/bus-icon.svg" alt=""><span data-i18n="">立川南駅</span><img class="right" src="/assets/images/arrow-white.svg"/></p>    
        <p class="reveal time"><span>08:00</span><span>16:20</span></p>
        <p class="reveal arrows"><img class="left" src="/assets/images/arrow-white.svg"/><img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Bus/school-icon.svg" class="school" alt=""><span data-i18n="">東京ウエストインターナショナルスクール</span><img class="right" src="/assets/images/arrow-white.svg"/></p>
        <p class="reveal time"><span>08:40</span><span>15:40</span></p>
    </div>
</div>
<!-- bus-machida-home -->