<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="security-h1">安全・セキュリティー</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
<div class="content-wrapper container">
    <div class="icons row">
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Security/icon-01.svg"/>
            <strong data-i18n="security-icon-1">セキュリティー</strong>
            <p data-i18n="security-icon-1-p">関係者以外は立ち入る事ができないようになっています。訪問者には写真付きのIDの提示をお願いしています。また、煙探知機、消火器が設置されています。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Security/icon-02.svg"/>
            <strong data-i18n="security-icon-2">健康管理センター</strong>
            <p data-i18n="security-icon-2-p">メイン校舎１階には、健康管理センターがあり、終日スクールナースが勤務いたしております。ランチなどの食事に関しても、２名のスクールシェフと互いに情報を交換し、常に生徒の健康管理に注意を払うよう心掛けております。</p>
        </div> 
        <div class="col-12 col-md-4">
            <img src="https://cdn.gsacademy.com/Tokyo+West+Elementary/Security/icon-03.svg"/>
            <strong data-i18n="security-icon-3">緊急時</strong>
            <p data-i18n="security-icon-3-p">防火・防災管理担当者が定期的に東京消防庁の研修に参加し、防災計画を東京消防庁に提出しています。災害時の避難経路、避難場所は入学時に保護者と確認しています。</p>
            <p data-i18n="security-icon-3-p-2">地震、火事などの災害時や緊急時の対応については防災計画通り、毎月防災訓練を行っています。 防災訓練では、毎回異なる状況下においてもこども達が安全に避難できるよう、習慣化するように訓練を行っています。</p>
        </div>  
    </div>
</div>

