<div class="hero heading--white text--white">
    <div class="hero__content">
        <h1 data-i18n="special-offers-h1">GSA傘下の学校の生徒(幼稚部)は以下 の特典を受けることができます。</h1>
    </div>
    <img class="scrollDown" src="/assets/images/arrow-white.svg"/>
</div>
<div class="row">
    <div class="col-md-6 col-12 heading--white offer-1">
        <h3 data-i18n="special-offers-offer-1-title">無料オンラインレッスン</h3>
        <p class="subtitle" data-i18n="special-offers-offer-1-p-1">(GLOBAL STEP ACADEMY)</p>
        <p data-i18n="special-offers-offer-1-p-2" class="reveal">Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</p>
        <p data-i18n="special-offers-offer-1-p-3" class="reveal">(生徒のレベルにより50分レッスン×4回の場合あり)</p>
        <p data-i18n="special-offers-offer-1-p-4" class="reveal">英語や英語での他科目(算数)のレッスンを受講できます。</p>
        <a class="reveal" href=""><span data-i18n="special-offers-offer-1-link">GSAコンサルティング実績</span> <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
    <div class="mobile-reveal">
        <p data-i18n="special-offers-offer-1-p-2" class="reveal">Global Step Academyのオンラインサービスを8回分 (25分レッスン)毎月無料で受講することが可能です。</p>
        <p data-i18n="special-offers-offer-1-p-3" class="reveal">(生徒のレベルにより50分レッスン×4回の場合あり)</p>
        <p data-i18n="special-offers-offer-1-p-4" class="reveal">英語や英語での他科目(算数)のレッスンを受講できます。</p>
        <a class="reveal" href=""><span data-i18n="special-offers-offer-1-link">GSAコンサルティング実績</span> <img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
    <div class="col-md-6 col-12 heading--white offer-2">
        <h3 data-i18n="special-offers-offer-2-title">進路サポート</h3>
        <p class="subtitle" data-i18n="special-offers-offer-2-p-1">(インターナショナルスクール進学/留学)</p>
        <p data-i18n="special-offers-offer-2-p-2" class="reveal">卒業後の進路として、外部のインターナショナルスクール進学や留学を希望する方には、</p>
        <p data-i18n="special-offers-offer-2-p-3" class="reveal">GSAの進学コンサルティングサポートを無料で受けることができます。</p>
        <a class="reveal" href=""><span data-i18n="special-offers-offer-2-link">GSAコンサルティング実績</span><img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
    <div class="mobile-reveal">
        <p data-i18n="special-offers-offer-2-p-2" class="reveal">卒業後の進路として、外部のインターナショナルスクール進学や留学を希望する方には、</p>
        <p data-i18n="special-offers-offer-2-p-3" class="reveal">GSAの進学コンサルティングサポートを無料で受けることができます。</p>
        <a class="reveal" href=""><span data-i18n="special-offers-offer-2-link">GSAコンサルティング実績</span><img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
</div>



