<div class="hero heading--white text--white svg--white">
    <div class="hero__content offset">
        <h1 data-i18n="steps-h1">入学までの流れ</h1>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>  
<div class="content-wrapper container">
    <div class="row">
        <div class="mobile col-md-4 col-md-offset-1 col-12 background--blue heading--white text--white">
            <h3><span data-i18n="steps-h3">入学対象学年</span> <span class="greyblue" data-i18n="steps-h3-greyblue">（4月1日現在）</span></h3>
            <h4 data-i18n="steps-h4-1">小学部</h4>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G1: </strong><span data-i18n="steps-li-1">6歳であること</span></li>
                <li><strong>G3: </strong><span data-i18n="steps-li-2">8歳であること</span></li>
                <li><strong>G5: </strong><span data-i18n="steps-li-3">10歳であること</span></li>
            </ul>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G2: </strong><span data-i18n="steps-li-4">7歳であること</span></li>
                <li><strong>G4: </strong><span data-i18n="steps-li-5">9歳であること</span></li>
                <li><strong>G6: </strong><span data-i18n="steps-li-6">11歳であること</span></li>
            </ul>
            <h4 data-i18n="steps-h4-2">中学部</h4>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G7: </strong><span data-i18n="steps-li-7">12歳であること</span></li>
                <li><strong>G9: </strong><span data-i18n="steps-li-8">14歳であること</span></li>
            </ul>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G8: </strong><span data-i18n="steps-li-9">13歳であること</span></li>
            </ul>
        </div>
        <div class="col-md-7 col-12 heading--black">    
            <p data-i18n="steps-p-1" class="text--blue">入学に必要な書類</p>
            <p>- <a data-i18n="steps-link-1" href="">入学願書 Form (PDF)</a></p>
            <p>- <a href="" data-i18n="steps-link-2-1">健康診断書 (PDF)</a> <span data-i18n="steps-link-2-2">(3ヶ月以内)</span></p>
            <p data-i18n="steps-p-2">- 成績証明書</p>
            <p data-i18n="steps-p-3">- 卒業証明書または在校証明書</p>
            <p data-i18n="steps-p-4">- 外国籍のかたは、在留カードのコピーが必要です</p>
            <p data-i18n="steps-p-5" class="text--blue">入学選考（英語）/出願料20,000円 (税込み)</p>
            <p data-i18n="steps-p-6">日本語のクラスを除き、学校生活のすべてを英語で行うため、対応できる英語力が備わっていない場合は原則として入学できませんが、場合によってBoost Programへ参加いただければ入学をしていただくことができます。</p><br>
            <p data-i18n="steps-p-7">- 選考に合格した生徒に対し入学許可証を発行いたします。指定期日までに入学金をご入金いただいた時点で、入学許可完了となります。 なお、納入されました入学金は、理由のいかんにかかわらず、返金できませんのでご了承ください。入学までに、スクールブックを配布し、オリエンテーションを行います。</p><br>
            <p data-i18n="steps-p-8">- 当校の趣旨に賛同されるご兄弟の方々のご入学を心より歓迎いたします。</p>
        </div>
        <div class="desktop col-md-4 col-md-offset-1 col-12 background--blue heading--white text--white">
            <h3><span data-i18n="steps-h3">入学対象学年</span> <span class="greyblue" data-i18n="steps-h3-greyblue">（4月1日現在）</span></h3>
            <h4 data-i18n="steps-h4-1">小学部</h4>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G1: </strong><span data-i18n="steps-li-1">6歳であること</span></li>
                <li><strong>G3: </strong><span data-i18n="steps-li-2">8歳であること</span></li>
                <li><strong>G5: </strong><span data-i18n="steps-li-3">10歳であること</span></li>
            </ul>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G2: </strong><span data-i18n="steps-li-4">7歳であること</span></li>
                <li><strong>G4: </strong><span data-i18n="steps-li-5">9歳であること</span></li>
                <li><strong>G6: </strong><span data-i18n="steps-li-6">11歳であること</span></li>
            </ul>
            <h4 data-i18n="steps-h4-2">中学部</h4>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G7: </strong><span data-i18n="steps-li-7">12歳であること</span></li>
                <li><strong>G9: </strong><span data-i18n="steps-li-8">14歳であること</span></li>
            </ul>
            <ul class="col-xs-6 col-md-6">
                <li><strong>G8: </strong><span data-i18n="steps-li-9">13歳であること</span></li>
            </ul>
        </div>
    </div>
</div>