<div class="hero heading--black text--black">
    <div class="side">
        <h1 data-i18n="tour-h1">見学について</h1>
        <p data-i18n="tour-intro">ご入学をご検討されている方には、施設や学校の雰囲気などを体験していただくために、一度学校見学にお越しいただくことをお勧めしています。</p>
        <p class="blue" data-i18n="tour-blue">見学内容</p>
        <ul class="col-12 col-md-6">
            <li data-i18n="tour-li-1">本校及びGSAグループの説明</li>
            <li data-i18n="tour-li-2">カリキュラムの説明</li>
            <li data-i18n="tour-li-3">入学審査について</li>
        </ul>
        <ul class="col-12 col-md-6">
            <li data-i18n="tour-li-4">施設案内</li>
            <li data-i18n="tour-li-5">入学までのステップの説明</li>
            <li data-i18n="tour-li-6">その他ご質問への回答</li>
        </ul>
        <p data-i18n="tour-li-end">ご希望の方は下記フォームより見学についてお問い合わせください。</p>
        <p data-i18n="tour-li-grey" class="grey">※学校見学は、事前予約をお願いしています。</p>
        <a href="https://www.gsacademy.com/" class="more" data-i18n="tour-btn">問い合わせフォームへ<img class="arrow" src="/assets/images/arrow-white.svg"/></a>
    </div>
</div>   
<div class="content-wrapper">
    <div class="row see-more">
        <div class="block background--white heading--blue text--white">
            <h2>関連項目</h2>
            <a href="/flow-to-admission" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-01.jpg');">
            <p data-i18n="tour-flow">入学までの流れ</p>
            </a>
            <a href="/curriculum" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-02.jpg');">
            <p data-i18n="tour-curriculum">カリキュラム</p>
            </a>
            <a href="/school-gallery" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-03.jpg');">
            <p data-i18n="tour-gallery">スクールギャラリー</p>
            </a>
            <a href="facility-gallery" target="_blank" class="more-item" style="background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/see-more-04.jpg');">
            <p data-i18n="tour-facility">施設ギャラリー</p>
            </a>
        </div>
    </div>
</div>
