<div class="hero heading--white text--white svg--white">
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
<div class="content-wrapper container">
    <div class="row">
        <div class="col-12 heading--white">
            <h2 data-i18n="tuition-title">費用</h2>
            <table>
                <tr>
                    <td colspan="4" class="center"><strong data-i18n="tuition-type-title">学費</strong></td>
                    <td colspan="2"><strong data-i18n="tuition-price-title">金額</strong></td>
                </tr>
                <tr>
                    <td colspan="2" data-i18n="tuition-row-1-1">入学時</td>
                    <td colspan="2" data-i18n="tuition-row-1-2">入学金</td>
                    <td colspan="2" data-i18n="tuition-row-1-price">¥250,000</td>
                </tr>
                <tr>
                    <td rowspan="4" data-i18n="tuition-row-2-1" colspan="2">年１回</td>
                    <td colspan="2" data-i18n="tuition-row-2-2">施設費</td>
                    <td colspan="2" data-i18n="tuition-row-2-price">¥150,000</td>
                </tr>
                <tr>
                    <td colspan="2" data-i18n="tuition-row-3-1">教材・文具費</td>
                    <td colspan="2" data-i18n="tuition-row-3-price">¥150,000</td>
                </tr>
                <tr>
                    <td colspan="2" data-i18n="tuition-row-4-1">諸経費 <span class="grey" data-i18n="tuition-row-4-2">(健康診断費・防災費等)</span></td>
                    <td colspan="2" data-i18n="tuition-row-4-price">¥25,000</td>
                </tr>
                <tr>
                    <td colspan="2" data-i18n="tuition-row-5-1">学校助成費</td>
                    <td colspan="2" data-i18n="tuition-row-5-price">¥50,000</td>
                </tr>
                <tr>
                    <td colspan="2" data-i18n="tuition-row-6-1">毎月固定</td>
                    <td colspan="2" data-i18n="tuition-row-6-2">授業料</td>
                    <td colspan="2" data-i18n="tuition-row-6-price">¥95,000</td>
                </tr>
            </table>
            <p data-i18n="tuition-text-1">- 入学選考/出願料20,000円(税込み)</p>
            <p data-i18n="tuition-text-2">- 基本費用（円）全学年共通</p><br>
            <p data-i18n="tuition-text-3">- 費用は、学期ごとに分割納入が可能です。</p><br>
            <p data-i18n="tuition-text-4">- その他の費用（円）</p>
            <p data-i18n="tuition-text-5" class="indent">- ランチ代（希望者）：月額12,000</p>
            <p data-i18n="tuition-text-6" class="indent">- バス（希望者）：月額8,000ー16,000</p>
        </div>
    </div>
</div>