<div class="hero heading--white text--white svg--white">
    <div class="hero__content">
        <h1 data-i18n="yearly-h1">年間を通じて数多く開催される学校行事は、学年別の催しから全校生徒が一丸となって取り組むものまで、どれも多彩で活気に溢れています。生徒は意欲的に参加し、主体性と協調性を養うとともに、かけがえのない思い出を作っています。</h1>
        <span data-i18n="yearly-h1-span"> スクール年度は毎年4月に始まり、翌3月に終了します。</span>
    </div>
    <div class="contact-semi">
        <img src="/assets/images/arrow-white.svg"/>
        <p data-i18n="semi-contact">お問い合わせ</p>
        <div class="contact">
        <p><img src="/assets/images/phone.svg"/>042-691-1441</p>
        <p><img src="/assets/images/clock.svg"/>9:00-16:00 (土日祝除く)</p>
        <p><img src="/assets/images/mail.svg"/>admission@tokyowest.jp</p>
        </div>
    </div>
</div>
<div class="content-wrapper container">
    <div class="row">
        <div class="col-12 heading--white">
            <h2 data-i18n="yearly-table-title">年間スケジュール（例)</h2>
            <table>
                <tr>
                    <td data-i18n="yearly-apr-date">4月</td>
                    <td data-i18n="yearly-apr-text">入学式  (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-may-date">5月</td>
                    <td data-i18n="yearly-may-text">春の遠足 (G6~G9) / 進路指導 (G6~G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-jun-date">6月</td>
                    <td data-i18n="yearly-jun-text">文化交流 (G2- G4) / キャンプ (G2- G4) / グループワークウィーク (G1, G5- G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-jul-date">7月</td>
                    <td data-i18n="yearly-jul-text">浴衣デー (G1-G9) / 夏祭り (G1-G9) / 芋ほり体験 (G1-G9) / 保護者面談 (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-aug-date">8月</td>
                    <td data-i18n="yearly-aug-text">夏休み (G1-G9) / サマースクール (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-sep-date">9月</td>
                    <td data-i18n="yearly-sep-text">運動会 (G1-G9) / 秋の遠足 (G1-G9) / スピーチコンテスト (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-oct-date">10月</td>
                    <td data-i18n="yearly-oct-text">ハロウィンイベント (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-nov-date">11月</td>
                    <td data-i18n="yearly-nov-text">オープンハウスウィーク (G1- G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-dec-date">12月</td>
                    <td data-i18n="yearly-dec-text">冬の発表会 (G1-G9) / 冬休み (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-jan-date">1月</td>
                    <td data-i18n="yearly-jan-text">冬の遠足 (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-feb-date">2月</td>
                    <td data-i18n="yearly-feb-text">キャンプ (G5- G9) / 保護者面談 (G1-G9)</td>
                </tr>
                <tr>
                    <td data-i18n="yearly-mar-date">3月</td>
                    <td data-i18n="yearly-mar-text">1泊2日旅行 (G6) / 卒業式 (G9) / 春休み (G1- G9)</td>
                </tr>
            </table>
        </div>
    </div>
</div>