// ------------------------------------------------------------
// Feature
// ------------------------------------------------------------

.feature{
  position: relative;
  @include bottom-spacing();

  img, video{
    display: block;
    position: relative;
  }

  .text{
    @include blockPadding();
    position: relative;
    display: block;
    h2{
      text-transform: uppercase;
      @include font-size(24px);
    }
  }

  @include mq($from: large-mid){
    img{width: span(10 of 14);}
    .text{
      position: absolute;
      top: 0;
      right: 0;
      width: span(7 of 14);
    }
  }

}


// Feature Row
// ------------------------------------------------------------
.feature-row{
  font-size: 0;
  position: relative;
  @include bottom-spacing();
  @include clearfix();

  p{
    width: 100%;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 50px;
    position: relative;
    z-index: 20;
  }

  img{
    width: 320px;
    display: block;
    margin: 0 auto;
  }

  @include mq($from: medium){
    img{
      width: span(4 of 14);
      float: right;
    }
    p{width: span(10 of 14);}
    .bodymovin{display: none !important;}
  }
  @include mq($from: large){
    p{font-size: 35px;}
    .bodymovin{
      display: block !important;
      position: absolute;
      width: 670px;
      right: -30px;
      top: -500px;
      z-index: 10;
    }

  }
}