// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------

footer.site-footer{
  color: $dark;
  background-color: $lighter-grey;
  padding: 60px span(1 of 16);
  position: relative;
  overflow: hidden;
  p{z-index: 10;position: relative;}

  a{
    color: $dark;
    &:hover{color: $blue;}
  }

}