// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

.site-title {
  position: absolute;
  padding-left: 40px;
  box-sizing: content-box;
  width: 145px;
  z-index: 101;
  margin: 0;
  a{
    margin-bottom: 0;
    display: block;
  }
  @include mq($from: medium) {
    
  }
}

header.site-header{
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  top: 0;
}