// ------------------------------------------------------------
// List Item
// ------------------------------------------------------------
.list-item{
  @include bottom-spacing();
  @include clearfix();
  position: relative;

  .image{
    @include aspect-ratio(10, 5.85)
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    svg[class*=" icon-num-"]{
      position: absolute;
      top: 0;
      right: -19px;
      width: 46.42857%;
      height: 100%;
      left: initial;
    }
  } //eo:image
 
  .text{
    display: block;
    @include blockPadding();
    position: relative;
    z-index: 9;

    h2{
      text-transform: none;
      @include font-light();
    }
  }//eo:text

  .bodymovin{
    z-index: 7;
    position: absolute;
    margin-left: 0;
    top: -10%;
    left: 40px;
    width: span(10 of 14);
    height: auto;
  }

  @include mq($from: medium){
    .bodymovin{top: -30%;}
  }//eo:mq


  @include mq($from: large){
    .bodymovin{
      top: -25%;
    }
  }//eo:mq

  @include mq($from: large-mid){
    margin-bottom: 160px;
    .image{
      width: span(10 of 14);
      z-index: 5;
      svg[class*=" icon-num-"]{
        height: 155%;
        left: 50%;
        right: initial;
        width: span(9 of 14);
        top: -13.7rem;
      }
    }
    .text{
      width: span(8 of 14);
      z-index: 10;
      position: absolute;
      padding-bottom: 20px;
      top: 40px;
    }

    .bodymovin{
      top: auto;
      bottom: -40px;
      left: 40px;
      width: 70%;
    }


    &.list-item--photo{
      .image{float: right;}
      .text{left: 0;}
    }

    &.list-item--icon{
      .image{float: left;}
      .text{right: 0;}
    }

  }//eo:mq

  @include mq($from: extra-large){
    margin-bottom: 180px;
    .text{
      top: 60px;
      padding-bottom: 40px;
      width: span(6 of 14);
      h2{@include font-size(48px);}
    }

    .bodymovin{
      bottom: -60px;
      left: 60px;
      width: 50%;
    }



  }//eo:mq



  // Icon Sizes
  // ------------------------------------------------------------
  &:nth-of-type(10) .image svg[class*=" icon-num-"]{
    width: span(10 of 14);
  }

  &:nth-of-type(odd) .image svg[class*=" icon-num-"]{
    opacity: 0.7;
  }

  @include mq($from: medium){
    &:first-of-type .image svg[class*=" icon-num-"]{
      top: 1.7rem;
      right: -20px;
      width: span(6.5 of 14);
      height: 155%;
    }
    &:nth-of-type(2) .image svg[class*=" icon-num-"]{
      top: -5rem;
      width: span(8 of 12);
      height: 140%;
    }
    &:nth-of-type(3) .image svg[class*=" icon-num-"]{
      left: 27%;
      width: span(10 of 14);
      height: 160%;
    }
    &:nth-of-type(4) .image svg[class*=" icon-num-"]{
      top: -160px;
      right: -55px;
      width: 66.42857%;
      height: 150%;
    }
    &:nth-of-type(5) .image svg[class*=" icon-num-"]{
      height: 160%;
      right: -100px;
      width: span(11 of 14);
      top: -2.7rem;
    }
    &:nth-of-type(6) .image svg[class*=" icon-num-"]{
      width: span(11 of 14);
      height: 150%;
      right: -34px;
      top: -5.8rem;
    }
    &:nth-of-type(7) .image svg[class*=" icon-num-"],
    &:nth-of-type(9) .image svg[class*=" icon-num-"]{
      height: 170%;
      width: span(11.5 of 14);
      top: -2.2rem;
      right: -20%;
      left: auto;
    };
    &:nth-of-type(8) .image svg[class*=" icon-num-"]{
      top: -110px;
      right: -55px;
      width: 54.42857%;
      height: 152%;
    }
    &:nth-of-type(9) .image svg[class*=" icon-num-"]{
      height: 145%;
      right: -150px;
      width: 76.57143%;
      top: -15rem;
    }
    &:nth-of-type(10) .image svg[class*=" icon-num-"]{
      height: 190%;
      left: 28%;
      width: span(14 of 14);
      top: -15.7rem;
    }
  }  
}


// Specific Pages
// ------------------------------------------------------------
.ten-new-ideas-about-to-change-your-life{
  .list-item:nth-of-type(odd) .image svg[class*=" icon-num-"]{
    opacity: 1;
  }
  .list-item:nth-of-type(even) .image svg[class*=" icon-num-"]{
    opacity: 0.7;
  }
  .list-item:first-of-type .image svg[class*=" icon-num-"]{
    left: initial;
  }
  .list-item:nth-of-type(2) .image svg[class*=" icon-num-"]{
    width: span(5.5 of 12);
    right: -19px;
  }
  .list-item:nth-of-type(5) .image svg[class*=" icon-num-"]{
    left: initial;
  }
  .list-item:nth-of-type(6) .image svg[class*=" icon-num-"]{
    top: 0em;
  }
  .list-item:nth-of-type(7) .image svg[class*=" icon-num-"]{
    left: initial;
  }
  .list-item:nth-of-type(8) .image svg[class*=" icon-num-"]{
    top: -80px;
    right: -34px;
    width: 54.42857%;
    height: 150%;
    left: initial;
  }
  .list-item:nth-of-type(9) .image svg[class*=" icon-num-"]{
    height: 165%;
    left: initial;
    width: span(8 of 14);
    top: -6rem;
  }
  .list-item:nth-of-type(10) .image svg[class*=" icon-num-"]{
    height: 180%;
    left: 34%;
    width: span(14 of 14);
    top: -5.7em;
  }

  @include mq($from: large){
    .list-item:first-of-type .image svg[class*=" icon-num-"]{
      left: 43%;
    }
    .list-item:nth-of-type(5) .image svg[class*=" icon-num-"]{
      left: 26%;
    }
    .list-item:nth-of-type(6) .image svg[class*=" icon-num-"]{
      right: 0;
      right: -80px;
      top: -2.7rem;
    }
    .list-item:nth-of-type(7) .image svg[class*=" icon-num-"]{
      left: 19%;
    }
    .list-item:nth-of-type(8) .image svg[class*=" icon-num-"]{
      top: -90px;
      right: -85px;

    }
    .list-item:nth-of-type(9) .image svg[class*=" icon-num-"]{
      right: -1em;
      width: span(10 of 14);
      top: -6rem;
      height: 134%;
    }
    .list-item:nth-of-type(10) .image svg[class*=" icon-num-"]{
      top: -12.7rem;
      width: 90%;
      left: 22%;
    }
  }
}
