// ------------------------------------------------------------
// Header
// ------------------------------------------------------------


.main-nav{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  overflow: auto;
  padding-left: 230px;

  .main-nav__page{
    // max-width: $max-width;
    // width: 100%;
    margin: 0 auto;
  }

  .main-nav__wrap{
    position: relative;
  }
  p{
    display: inline-block;
    vertical-align: top;
    padding: 48px 20px 48px;
    position: relative;
    margin: 0 -5px 0 0;
    @include font-bold();
    cursor: pointer;
    transition: $base-duration $base-timing;
    &:hover{color: $lightblue !important;}
  }
  // direction aware hover
  p:before {
    left: 100%;
    transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    content: '';
    height: 100%;
    border-bottom: 5px solid $lightblue;
    bottom: 0;
    position: absolute;
    width: 0;
    z-index: 11;
  }
  p:hover:before, {
    border-bottom-color: $lightblue;
    width: 100%;
    top: 0;
    transition-delay: 0.1s;
    left: 0;
  }
  p:hover ~ p:before {
    left: 0;
  }
  // direction aware hover end

  .nav-item{display: none;}
  a{
    // color: $light;
    display: block;
    width: 100%;
    @include font-size(14px);
    @include font-medium();
    &:hover{
      color: $lightblue !important;
    
    }
    margin-bottom: 20px;
  }
  .menu-toggle {
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    width: 44px;
    height: 71px;
    cursor: pointer;
    z-index: 90;
    background-size: 44px 71px;
    background-repeat: no-repeat;
  
    @include mq($from: medium) {
      display: none;
      right: 12px;
      width: 66px;
      height: 90px;
      background-size: 67px 90px;
    }
  }
  .lang{
    float: right;
    padding: 48px 30px;
    @include font-bold();
    background: $blue;
    color: #ffffff;
  }

  @include mq($from: medium) {
    .main-nav__wrap{
      // width: span(14);
      margin: 0 auto;
      a{
        @include font-size(18px);
        display: inline-block;
        vertical-align: top;
        padding-right: 40px;
      }
    }
  }
  @include mq($from: large) {
    .main-nav__page{

    }
    .main-nav__wrap{
      // columns: 4;
    }
  }
}

// Body.open
body.open{

}