// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

.main-nav{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  overflow: auto;
  padding-left: 230px;
  overflow: visible;
  border-bottom: 1px solid rgb(240, 240, 240);

  .main-nav__page{
    // max-width: $max-width;
    // width: 100%;
    margin: 0 auto;
    // transition: $base-duration $base-timing;
  }

  .main-nav__wrap{
    position: relative;
    transition: $slow $base-timing;
  }
  .subBG{
    opacity: 0;
    height: 0;
    position: fixed;
    background: rgba(47,164,189,0.94);
    top: 120px;
    left: 0;
    width: 100%;
    transition: $base-duration $base-timing;
  }
  .nav-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 -5px 0 0;
    z-index: 1;
    @include font-bold();
    cursor: pointer;
    transition: color $base-duration $base-timing;
    p{
      margin: 0;
      padding: 48px 20px 48px;
      font-weight: 600;
      &:hover{
        color: $lightblue !important;  
      }
    }
    // direction aware hover
    p:before {
      left: 50%;
      transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      content: '';
      height: 100%;
      border-bottom: 5px solid $lightblue;
      bottom: 0;
      position: absolute;
      width: 0;
      z-index: 11;
    }
    p:hover:before {
      border-bottom-color: $lightblue;
      width: 100%;
      top: 0;
      transition-delay: 0.1s;
      left: 0;
    }

    .sub{
      pointer-events: none;
      opacity: 0;
      bottom: -155px;
      padding: 80px 150px 30px 250px;
      top: 120px;
      height: 30vh;
      position: fixed;
      width: 100%;
      left: 0;
      transition: opacity $base-duration $base-timing;
      // display: flex;
      // justify-content: space-between;
      a{
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 3 - 10px);
        margin: 20px 0px;
        font-size: 24px;
        color: #fff;
        &:hover{cursor: pointer;}
      }
    }
    &:hover{
      .sub{
        pointer-events: all;
        opacity: 1;
      }
      ~.subBG{
        height: 35vh;
        opacity: 1;
      }
    }
  }
  .menu-toggle {
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    width: 44px;
    height: 71px;
    cursor: pointer;
    z-index: 90;
    background-size: 44px 71px;
    background-repeat: no-repeat;
  
    @include mq($from: medium) {
      display: none;
      right: 12px;
      width: 66px;
      height: 90px;
      background-size: 67px 90px;
    }
  }
  .lang{
    float: right;
    padding: 48px 30px;
    @include font-bold();
    background: $blue;
    width: 120px;
    color: #ffffff;
    transition: background-color $base-duration $base-timing;
    &:hover{
      background: $lightblue;
    }
  }

  .hamburger{display: none;}

  @media(max-width: 1100px){
    padding-left: 0;
    .hamburger{
      display: block;
      position: absolute;
      right: 30px;
      top: 35px;
      height: 30px;
      width: 35px;
      z-index: 9999;
      cursor: pointer;
      span{
        width: 25px;
        height: 5px;
        position: absolute;
        right: 0;
        top: 12px;
        border-radius: 12px;
        background: #05335a;
        transition: $base-duration $base-timing;
      }
      &:hover{
        span{width: 35px; background: #2fa4bd;}
        &:before, &:after{left: 0; background: #2fa4bd;}
      }
      &:before, &:after{
        content: '';
        transition: $base-duration $base-timing;
        width: 100%;
        height: 5px;
        border-radius: 12px;
        background: #05335a;
        position: absolute;
        transform-origin: left;
      }
      &:before{top: 0;}
      &:after{bottom: 0;}

      &.open{
        span{opacity: 0;}
        &:before{transform: rotate(45deg)}
        &:after{transform: rotate(-45deg)}
        &~ .main-nav__page{
          pointer-events: all;
          .main-nav__wrap{
            transform: translate3d(0,100px,0);
            // opacity: 1;
          }
        } 
      }
    }
    height: 100px; //.main-nav
    .main-nav__page{
      pointer-events: none;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100vh;
    }
    .main-nav__wrap{
      // opacity: 0;
      transform: translate3d(0,-1500px,0);
      background: #fff;
      width: 100%;
      padding-top: 100px;
      height: 93vh;
      overflow: scroll;
      // padding-bottom: 100px;
      .nav-item{
        display: block;
        margin: 0 40px;
        border-bottom: 1px solid #cacaca;
        p{padding: 30px 0; font-size: 28px;}
        .sub{
          position: relative;
          top: 0; 
          padding: 0;
          max-height: 0;
          overflow: hidden;
          opacity: 1;
          transition: $base-duration $base-timing;
          a{
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            line-height: 2.5;
            display: block;
            color: #000;
          }
        }
        &.open{
          .sub{
            max-height: 600px;
            height: auto;
            padding: 0 40px 30px;
            margin-bottom: 40px;
          }
        }
      }
      .subBG {
        opacity: 1;
        height: 140px !important;
        background: white;
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
      }
      .lang{
        float: none;
        position: fixed;
        position: sticky;
        bottom: 0;
        width: 100%;
        z-index: 999;
      }
    }
  }

  @include mq($from: medium) {
    .main-nav__wrap{
      // width: span(14);
      margin: 0 auto;
      a{
       
      }
    }
  }
  @include mq($from: large) {
    .main-nav__page{

    }
    .main-nav__wrap{
      // columns: 4;
    }
  }
}

// Body.open
body.open{

}