// ------------------------------------------------------------
// Read more
// ------------------------------------------------------------

.read-more{
  transition: transform $fast linear;
  display: block;
  height: 40px;
  
  svg, span{
    display: inline-block;
    vertical-align: middle;
    transition: all $fast linear;
  }

  svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  span{
    font-size: 12px;
    @include font-bold();
    @include caps();
  }

}

a:hover .read-more{
  transform: translateX(10px) !important;
}
