<div class="hero heading--mustard text--white svg--light-grey background--dark-grey">
  
  <div class="hero__content">
    <p class="mag-title heading text--yellow">What’s Next?</p>
    <h1><%- heroTitle %></h1>
  </div>

  <svg class="icon icon-hourglass-dims">
    <use xlink:href="#hourglass"></use>
  </svg>

</div>

<div class="content-wrapper">
  <%- partial("../_nav") %>
</div>
