// ------------------------------------------------------------
// Articles Index
// ------------------------------------------------------------

.articles-index {
  .content-wrapper {
    padding-top: 60px;
    .book{display: none;}

    a{
      color: $red;
      display: block;
      width: 100%;
      @include font-size(36px);
      &:hover{color: $dark-red !important;}
      span{
        color: $dark-grey;
        display: block;
        @include caps();
        @include font-size(12px);
      }
      margin-bottom: 20px;
    }

  }
}

