// ------------------------------------------------------------
// facility-gallery
// ------------------------------------------------------------
.facility-gallery{
    // Hero
    // -------------------
    .hero{
        background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/facility-header-desktop.jpg');    
        background-size: cover;
        background-position: center 100px;
        margin-bottom: 120px;
        min-height: 780px;
        .hero__content p{
            font-size: 18px;
            line-height: 2.2;
        }
        @media(max-width: 1100px){
            background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Facility+Gallery/facility-header-mobile.jpg');
        }
        @media(max-width: 768px){
            min-height: 620px;
            margin-bottom: 40px;
            .hero__content.offset{
                bottom: -30px;
            }
            .hero__content p{
                padding: 20px 30px;
            }
        }
        .contact-semi.open{
            height: 420px;
            width: 520px;
            right: -140px;
            top: 23%;
            > img{transform: rotate(0deg) translate3d(-10px,150px,0);}
        }
    }
    .fancybox-is-open .fancybox-navigation{
        opacity: 1;
    }
    .fancybox-navigation{
        background: white;
        width: 60%;
        height: 60%;
        left: 0;
        right: 0;
        margin: auto;
        top: 210px;
        position: absolute;
        transition: .2s cubic-bezier(.5,0,.14,1);
        opacity: 0;
        @media(max-width: 1100px){
            width: 80%;
        }
        &:after{
            content: '';
            // border: 2px solid #2fa4bd;
            // border-radius: 50%;
            // color: #2fa4bd;
            background: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/close.svg') no-repeat;
            position: absolute;
            top: 30px;
            right: 30px;
            height: 38px;
            width: 38px;
            // font-size: 23px;
            // text-align: center;
            // font-family: monospace;
            cursor: pointer;
        }
        .fancybox-button{
            opacity: 1;
            visibility: visible;
            background: transparent;
            // border: 2px solid #2fa4bd;
            // border-radius: 50%;
            padding: 0;
            &.fancybox-button--arrow_right{
                right: 30px;
                background: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/arrow-right.svg') no-repeat;
            }
            &.fancybox-button--arrow_left{
                left: 30px;
                background: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/School+Gallery/arrow-left.svg') no-repeat;
            }
            svg{
                display: none;
                path {
                    fill: transparent;
                    stroke: #2fa4bd;
                    stroke-linejoin: round;
                    stroke-width: 3;
                }
            } 
        }
    }
    .gallery{
        padding: 0 40px 30px;
        text-align: center;
        strong{
            font-size: 15px;
            text-align: center;
            font-weight: 700;
            margin: 20px auto;
            display: block;
        };
        p{font-size: 14px;}
        img{
            display: block;
            margin: 0 auto;
            padding: 0;
            cursor: pointer;
        }
    }

    @media(max-width: 991px){
        .gallery{
            margin-top: 0;
            padding: 0px 40px;
            img{margin-top: 50px;}
            .col-12{
                pointer-events: none;
            }
        } 
    }
        
}