// ------------------------------------------------------------
// GSA Group
// ------------------------------------------------------------
.gsa-group{
// Hero
// -------------------
    .hero{
        background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/group.jpg');    
        background-size: coover;
        background-position: center 100px;
        min-height: 880px;
        overflow: auto;
        h1{
            font-size: 28px;
            letter-spacing: 5px;
            font-weight: 700;
            text-align: left;
        }
        img{
            width: 250px;
            margin-top: -195px;
        }
        .side{
            float: right;
            background: #fff;
            margin: 20px 0;
            padding: 20px 40px;
            width: 500px;
            height: 500px;
            color: #000;
            margin-top: 250px;
            margin-right: 150px;
            position: relative;
        }
        .blue{color: #2f5ebd; font-weight: 700;}
        p{text-align: left; display: block; clear: both;}
        a{
            background: #2fa4bd;
            color: #fff;
            padding: 20px 20px 20px 30px;
            color: #fff;
            text-align: center;
            position: absolute;
            bottom: -28px;
            left: 40px;
            &:hover img {
              transform: translate3d(10px,0,0);
            }
        }
        ul{
            text-align: left;
            list-style-type: none;
            &:last-of-type{margin-bottom: 30px;}
            li{padding-left: 0; margin-left: 0;}
        }
        @media(max-width: 1200px){
            .side{
                float: none;
                display: block;
                margin: 340px auto 160px;
                max-width: 501.33px;
            }
            // background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/header_mobile.jpg');
        }
        @media(max-width: 500px){
            .side{
                width: 85%;
                height: initial;
                padding: 20px 35px 60px;
                h1 {font-size: 20px;}
            }
            // background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/header_mobile.jpg');
        }
    }
    footer.site-footer{margin-top: 0 !important}
}