// ------------------------------------------------------------
// GSA Group
// ------------------------------------------------------------
.gsa-group{
// Hero
// -------------------
    .hero{
        background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/group.jpg');    
        background-size: coover;
        background-position: center 100px;
        min-height: 880px;
        overflow: auto;
        h1{
            font-size: 28px;
            letter-spacing: 5px;
            font-weight: 700;
            text-align: left;
        }
        img{
            width: 232px;
            margin-top: -160px;
        }
        .side{
            float: right;
            background: #fff;
            margin: 20px 0;
            padding: 20px 40px;
            width: 35%;
            max-width: 530px;
            color: #000;
            margin-top: 270px;
            margin-right: 150px;
        }
        .blue{color: #2f5ebd;}
        p{text-align: left; display: block; clear: both;}
        a{
            float: left;
            background: #2fa4bd;
            color: #fff;
            padding: 12px 20px;
            top: 40px;
            color: #fff;
            text-align: center;
            position: relative;
            display: inline-block;
        }
        ul{
            text-align: left;
            list-style-type: square;
            &:last-of-type{margin-bottom: 30px;}
            li{padding-left: 0;}
        }
        @media(max-width: 1200px){
            .side{
                float: none;
                display: block;
                margin: 340px auto 160px;
                width: 80%;
            }
            a{top: 0}
            // background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/header_mobile.jpg');
        }
    }
    footer.site-footer{margin-top: 0 !important}
}