// ------------------------------------------------------------
// Home
// ------------------------------------------------------------
.home{

  // Hero
  // -------------------
	.hero{
    background-size: auto 482px;
    // padding-top: 482px;

    @include mq($from: medium) {
      background-size: 100%;
      min-height: auto;
      padding-top: 0;
    }

  	@include mq($from: large){

		}

    img{
      height: auto;
      position: absolute;
      left: 50%;
      transform: translate3D(-50%,-50%,0);
      opacity: 0.8;
      z-index: 10;
      width: 159px;
      top: 77px;
      @include mq($from: medium){
        width: 43%;
        top: 16.3%;
      }
      @include mq($from: large){
        width: 18%;
        top: 16.3%;
      }
    }

		.hero__content{
			width: 100%;
			top: 215px;
      position: absolute;
      max-width: 1200px;

			p{
        font-size: 16px; 
        display: block;
        margin: 0 auto;
        width: 190px;
        color: $light;
        clear: both;
        text-align: center;
				&:last-of-type{text-transform: uppercase; font-size: 12px; margin-top: 10px;}
			}

			@include mq($from: medium){
				top: 40%;
			}

			@include mq($from: large){
				width: 80%;
				top: 47%;
			}

			@include mq($from: large-mid){
        p{width: 100%;}
			}
    }
    .contact-semi{
      position: absolute;
      right: 0;
      transform: translate3d(220px,0,0) ;
      top: 35%;
      border-radius: 50%;
      padding: 30px 65px;
      background: rgba(47, 114, 189, 0.9);
      width: 220px;
      height: 220px;
      color: #ffffff !important;
      display: flex;
      cursor: pointer;
      z-index: 10;
      transition: $slow $base-timing;
      opacity: 0;
      animation: slide .8s ease-in forwards;
      &:hover{
        transform: scale(1.1);
        filter: brightness(1.1);
        img{
          transform: translate3d(-10px,0,0) rotate(180deg);
        }
      }
      p{
        writing-mode: tb-rl;
        margin: 0;
        text-align: center;
        letter-spacing: 7px;
      }
      img{
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        width: 15px;
        left: 37px;
        top: 100px;
        transition: $slow $base-timing;
      }
     &.open{
        width: 540px;
        height: 540px;
        right: -220px;
        top: 15%;
        transform: scale(1) !important;
        img{top: 255px; transform: rotate(0deg);}
      }
    }
  }

  @keyframes slide{ 100%{transform: translate3d(110px,0,0); opacity: 1 ;} }
  
  .circles{
    position: relative;
    margin-top: -250px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    .circle{
      display: inline-block;
      border-radius: 50%;
      padding: 50px;
      background: $midblue;
      width: 200px;
      height: 200px;
      color: #ffffff !important;
      @include font-size(22px);
      transition: transform $base-duration $base-timing, filter $base-duration $base-timing;
      p{margin-top: 20px; text-align: center;}
      &:hover{
        transform: scale(1.1);
        filter: brightness(1.1);
        img{
          // transform: translate3d(10px,0,0);
          transform: rotate(-90deg);
        }
      }
      img{
        width: 20px;
        display: block;
        margin: 0 auto;
        transition: $base-duration $base-timing;
      }
      &:nth-of-type(2){
        background: $lightblue;
      }
    }
  }


  // Random Home Stuff
  // -------------------

	.mobile-only{
		display: block;
		margin: 0 0 20px 0;
		@include mq($from: large){
			display: none;
		}
	}

  .mobile-read{
    @include font-size(12px);
    @include font-bold();
    @include caps();
  }

	.medium-up{
		display: none;
		@include mq($from: medium){
			display: block;
		}
	}


  .text{
    @include homeRightPadding();
  }

  // Feature
  // -------------------
	 .feature{
    position: relative;
    clear: both;
    @include clearfix();
    display: block;
    .text{position: relative;}
    a.text:hover{color: $light !important;}
    img, video{width: 100%;}
    h2{text-transform: none;@include font-light();}
    @include mq($from: large-mid){
      width: span(12 of 14); 
      margin-left: auto !important;
      margin-right: auto !important;
      h2{@include font-size(48px);}
    }

	}

  // Pull (Full Width)
  // -------------------
	.pull-full{
		position: relative;
    @include bottom-spacing();
    display: block;
		
    .read-time{
      top: 40px;
      right: 40px;
    }

    h2 strong{display: block;}

		.bodymovin{
      bottom: -10px;
      width: 330px;
		}

		.inner{
		  @include blockPadding();
			display: inline-block; 
			width: 100%; 
		}


	}

  // Offset Blocks
  // -------------------
	.offset-blocks{
		font-size: 0;
		text-align: center;
    @include clearfix();

		.block{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			width: 100%;
      padding-bottom: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      @include bottom-spacing();

      &.top-push a{
        padding-top: 120px;
      }

      &:hover{
        background-size: 105%;
        a, a:hover{color: $light;}
        .big-five svg{
          filter: blur(5px);
        }
      }

      &:last-of-type{margin-bottom: 0;}

      p{font-size: 16px;}

			a{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        @include blockPadding();
        @include homeRightPadding();
      }
			
      h2{position: relative; z-index: 1; width: auto; }


		}

    @include mq($from: large){
      margin-bottom: 120px;
			.block{
				width: span(50%);
				padding-bottom: 50%;
        float: left;
				&:last-of-type{margin-top: 120px;}
			}
		}

    // List Offset Block
		&.list{
			width: 100%; 
			clear: both;
			.block:last-of-type{
				margin-top: 0;
				width: 100%;
				@include mq($from: large){
					float: right;
					width: 50%;
					margin-bottom: 100px;
          padding-bottom: 50%;
				}
			}
		}

		.list-item{
			text-align: left;
			@include mq($from: large){
				margin-bottom: 0;
			}
			img, video{
				width: 100%;
				@include mq($from: large){
					width: 50%;
				}
			}
			.text{
				width: 100%;
				float: none;
				font-size: 16px;
				margin: -1px auto;
        a{display: block;}
				@include mq($from: large){
					width: span(10.6 of 14);
					opacity: 0.9;
					z-index: 10;
					position: absolute;
					left: 0; right: 0;
					top: 3em;
				}
				@include mq($from: large-mid){
					width: span(8.6 of 14)
				}
			}
			@include mq($from: large){
				&:nth-of-type(even){
					img, video{
						float: right; 
					}
				}
			}
			h2{
				font-size: 24px;
				@include mq($from: medium){
					font-size: 36px;
					padding-right: 30px;
				}
				@include mq($from: large-mid){
					font-size: 48px;
				}
			}
		}

	}


  // Feature Solid
  // -------------------
	.feature-solid{
		@include bottom-spacing();
		width: 100%;
    @include clearfix();
    img, video{
      display: block;
      width: 100%;
    }

    @include mq($from: large){
      img, video{
        float: right;
        width: span(8 of 14);
      }
      a{
        width: span(6 of 14);
        float: left;
        clear: none;
      }
      h2 strong{display: block;}

    }


	}
  
} //eo: home