// ------------------------------------------------------------
// Home
// ------------------------------------------------------------
.home{
  // Hero
  // -------------------
	.hero{
    background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/hero.jpg'); 
    overflow-x: hidden;   
    @media(max-width: 1100px){
      background-image: url('https://cdn.gsacademy.com/Tokyo+West+Elementary/Home+Page/header_mobile.jpg');
    }
  }
  
  .fb_iframe_widget iframe {
    @media(max-width: 768px){
      box-shadow: 1px 7px 4px 3px #00000017;
    }
  }

  .circles{
    position: relative;
    margin-top: -110px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    .circle{
      display: inline-block;
      border-radius: 50%;
      padding: 50px 20px;
      background: $midblue;
      width: 200px;
      height: 200px;
      color: #ffffff !important;
      @include font-size(22px);
      transition: transform $base-duration $base-timing, filter $base-duration $base-timing;
      p{margin-top: 25px; text-align: center;}
      &:hover{
        transform: scale(1.1);
        text-decoration: none;
        filter: brightness(1.1);
        img{
          transform: translate3d(10px,0,0);
          // transform: rotate(-90deg);
        }
      }
      img{
        width: 20px;
        display: block;
        margin: 0 auto;
        transition: $base-duration $base-timing;
      }
      &:nth-of-type(2){
        background: $lightblue;
      }
    }
    @media(max-width: 768px){
      .circle{
        width: 170px;
        height: 170px;
        padding: 37px;
      }
    }
    @media(max-width: 525px){
      margin-top: -55px;
      .circle{
        width: 120px;
        padding: 16px;
        height: 120px;
        font-size: 18px;
        img{width: 15px;}
      }
    }
  }

  .row{
    margin: 50px auto 90px;
    padding: 0 90px;
    @media(max-width: 992px){
      padding: 0 40px;
      margin: 50px auto;
      &.partners {margin-bottom: 0;}
    }
  }

  .heading--blue h2{
    color: #2e72bc;
    font-weight: 700;
  }
  .news{
    font-size: 12px;
    width: 100%;
    .news-item{
      display: inline-block;
      vertical-align: top;
      background: #fcfcfc;
      margin: 0 25px 30px 0;
      box-shadow: 5px 5px 20px 0px #b5b4b43b;
      width: calc(100% / 3 - 20px);
      padding: 25px;
      min-height: 225px;
      transition: $base-duration $base-timing;
      &:last-of-type{margin-right: 0;}
      .date{
        color: $light-grey;
        font-size: 14px;
      }
      .content{
        min-height: 90px;
        font-style: italic;
      }
      a, span{
        color: $lightblue;
        text-transform: uppercase;
        img{
          width: 15px;
          margin-left: 5px;
        }
      }
      .type{
        padding: 5px 10px;
        margin-left: 10px;
        background: $lightblue;
        color: $light;
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    @media(max-width: 992px){
      .news-item{
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px auto;max-width: 400px;
        &:last-of-type{margin-right: auto;}
      }
    }
  }
  .news-row .more, .more.blue{
    text-align: center;
    display: block;
    margin-bottom: 50px;
    color: #30a4bd;
    text-transform: uppercase;
    &:hover img {
      transform: translate3d(10px,0,0);
    }
    img {
      top: -1px;
      position: relative;
    }
    @media(max-width: 992px){margin: 70px auto 0px;}
  }

  .modal-content{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    margin: 140px auto;
    .heading--white{
      background: #2f5ebd;
      padding: 68px 20px;
      h3{
        margin: 0; 
        letter-spacing: 3px;
        br{display: none;}
        
      }
      .close{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 24px;
        opacity: 1;
        width: 24px;
        transition: $base-duration $base-timing;
        cursor: pointer;
      }
      @media(max-width: 991px){
        padding: 48px 20px;
        h3{
          font-size: 16px;
          line-height: 2;
          br{display: block}
        }
        
      }
    }
    .wrap{
      background: #ffffff;
      padding: 40px;
      overflow: auto;
      font-size: 14px;
      .row{
        margin: 20px auto;
        .col-12{
          padding: 0 20px; 
          a{
            color: #2fa4bd;
            text-decoration: underline;
          }
        }
        .btn{
          background: #2fa4bd;
          padding: 12px;
          margin: 80px auto 0;
          display: block;
          border-radius: 30px;
          font-weight: 700;
          width: 200px;
        }
      }
      table{
        border-top: 1px solid #d4d4d4;
        border-left: 1px solid #d4d4d4;
        margin: 40px auto 70px;
        width: 90%;
        tr {
            border-bottom: 1px solid #d4d4d4;
        }
        th,td{
          border-right: 1px solid #d4d4d4;
          text-align: center;
          padding: 30px 10px;
        }
      }
      .blue{
        font-weight: 700;
        color: #2f5ebd;
        margin-bottom: 7px;
      }
      @media(max-width: 991px){
        padding: 0;
        .row{
          .col-12{
            padding: 0;
          }
          .btn{
            margin: 40px auto 20px;
          }
        }
        table{
          th,td{padding: 15px 10px;}
        }
      }
    }
  }

  .programs{
    width: 100%;
    font-size: 0;
    padding: 0;
    background: $midblue;
    .block{overflow: visible;}
    .program-item{
      width: 25%;
      padding: 30px 20px;
      display: inline-block;
      margin-right: -1px;
      position: relative;
      overflow: hidden;
      color: $light;
      background: $midblue;
      min-height: 530px;
      transition: $base-duration $base-timing;
      &:before{
        content: '';
        background: $lightblue;
        opacity: 0.85;
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
      }
      &:nth-of-type(even):before{ background: $midblue}
      a,p,h3{position: relative; z-index: 2; text-align: center; display: block;}
      h3 {font-weight: 500;}
      p{
        font-size: 14px;
        line-height: 1.8;
        opacity: 0;
        max-height: 0;
        transition: $base-duration $base-timing;
      }
      a{
        font-size: 12px; text-transform: uppercase;
        position: absolute;
        color: $light;
        bottom: 30px;
        right: 0;
        left: 0;
      }
      h3{
        @include font-size(36px);
        letter-spacing: 4px;
        padding-top: 170px; 
        transition: $base-duration $base-timing;
      }
      &:hover{
        transform: scale3d(1.1, 1.1, 1.1);
        z-index: 1;
        box-shadow: 2px 2px 13px 1px rgba(37,37,37,0.23);
        p{opacity: 1; max-height: 300px;}
        h3{padding-top: 0; margin-bottom: 20px;}
      }
    }
    .mobile{display: none}
    @media (min-width: 1300px) {
      .program-item{min-height: 500px;}
    }
    @media (max-width: 1100px) {
      .desktop{display: none;}
      .mobile{display: block}
      .item{
        color: $light;
        padding-bottom: 50px;;
        height: 700px;
        background: $midblue;
        transition: $base-duration $base-timing;
        &:before{
          content: '';
          background: $lightblue;
          opacity: 0.85;
          width: 100%;
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
        }
        &:nth-of-type(even):before{ background: $midblue}
        p{
          @include font-size(18px);
          text-shadow: none;
          line-height: 2;
        }
        a,p,h3{position: relative; z-index: 2; text-align: center; display: block;}
        a{
          font-size: 12px; text-transform: uppercase;
          position: absolute;
          color: $light;
          bottom: 30px;
          right: 0;
          left: 0;
        }
        h3{
          @include font-size(40px);
          color: #ffffff;
          text-shadow: none;
          transition: $base-duration $base-timing;
        }
        .carousel-caption{
          top: 30px;
        }
      }
      .carousel-control.right,.carousel-control.left{
        background-image: none;
      }
      @media (max-width: 500px) {
        .item{height: auto; padding-bottom: 0; 
          h3{ 
            @include font-size(48px);
            font-weight: 500;
            letter-spacing: 5px;
          }
        }
      }
    }
  }

  .location{
    text-align: center;
    .location-box {
      display: inline-block;
      vertical-align: top;
      margin: 30px 5%;
      .location-item{
        display: inline-block;
        vertical-align: top;
        width: 200px;
        // height: 200px;
        padding: 35px;
        transition: $base-duration $base-timing;
        // background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        margin: 30px 0;
        img{
          width: 80px;
          height: 80px;
          display: block;
          margin: 25px auto;
        }
        p{
          margin: 100px auto 0; 
        }
        &:hover{
          transform: scale(1.1);
          text-decoration: none;
          filter: brightness(1.1);
        }
      }
      @media (max-width: 1100px) {
        display: block; 
        margin: 30px auto;
      }
    }
  }

  .login{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 80px 120px;
    img{
      width: 50px;
      display: block;
      margin: 40px auto;
    }
    p{
      font-size: 33px;
      letter-spacing: 22px;
    }
    @media (max-width: 1100px) {
      padding: 80px 40px 120px;
      p{
        font-size: 33px;
        letter-spacing: 16px;
      }
    }
    @media (max-width: 500px) {
      .block {
        p, a {
          margin-left: 7px;
        }
      }
    }
  }

  .testimonials{
    .testimonial-item{
      display: inline-block;
      vertical-align: top;
      padding: 35px 12%;
      transition: $base-duration $base-timing;
      text-align: center;
      margin-right: 10px;
      width: calc(100% / 3 - 20px);
      &:last-of-type{margin-right: 0;}
      h4{
        margin: 20px auto 10px;
        letter-spacing: 6px;
        text-transform: uppercase;
        @include font-size(26px);
        font-weight: 700;
      }
      p:first-of-type{color: $light-grey; @include font-size(12px); display: block; margin-bottom: 20px;}
      p{
        line-height: 1.7;
        margin-bottom: 0;
        &.reveal{
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: $base-duration $base-timing;
        }
      }
      &.open p.reveal{
        max-height: 500px;
        opacity: 1;
      }
      img{
        width: 200px;
        display: block;
        margin: 0 auto;
      }
      span{
        margin: 30px 0;
        img{transition: .3s ease-in-out}
      }
    }
    @media (max-width: 992px) {
      .testimonial-item{
        width: 100%;
        max-width: 300px;
        margin: 40px auto 0;
        padding: 0;
      }
    }
  }

  .social{
    padding: 0;
    position: relative;
    margin-bottom: 80px;
    .block{height: 340px;}
    .fb-page{
      margin: 0 50px;
      position: absolute;
      left: 10%;
      top: -45px;
    }
    .follow{
      float: right;
      padding: 80px;
      text-align: center;
      width: 50%;
      h4{
        @include font-size(26px);
        letter-spacing: 7px;
        margin: 20px auto;
      }
      a{
        width: 40px;
        height: 40px;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        opacity: .7;
        transition: $base-duration $base-timing;
        &:hover{
          opacity: 1;
        }
        &.insta-icon {
          margin-right: 19px;
        }
      }
    }
    @media(max-width: 992px){
      .block{height: auto;}
      .fb-page {
        display: block;
        margin: 0 auto;
        position: relative;
        left: initial;
        text-align: center;
      }
      .follow {
        float: none;
        padding: 20px 20px 60px;
        width: 100%;
      }
    }
  }
  .see-more{
    text-align: center;
    max-width: 1400px;
    .more-item{
      display: inline-block;
      vertical-align: top;
      margin: 30px;
      width: calc(100%/2 - 65px);
      max-width: 500px;
      height: 260px;
      padding: 80px 20px;
      background-size: cover;
      font-size: 27px;
      font-weight: 700;
      position: relative;
      span{display: block}
      p {margin: inherit; position: relative;z-index: 9;}
      &:hover {
        opacity: 0.6;
      }
      &:before{
        content: '';
        background: $midblue;
        opacity: 0.6;
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        transition: $base-duration $base-timing;
      }
      &:nth-of-type(3n+1):before{
          background: $lightblue;
      }
      @media(max-width: 992px){
        width: 100%;
        display: block;
        margin: 40px auto;
        height: 220px;
        p {margin: 10px 0 0;}
      }
    }
  }

  .partners{
    max-width: 1200px;
    .partner-item{
      display: inline-block;
      vertical-align: top;
      width: calc(100% / 2);
      &:first-of-type{
        border-right: 1px solid #e5e5e5; 
        .logos{padding-left: 40px;}
      }
      &:last-of-type{
        float: right;
        padding-left: 15%;
        .logos{
          padding-left: 40px;
        }
      }
      img{
        width: auto;
        margin-bottom: 50px;
        display: block;
        &:last-of-type {
          margin-bottom: 10px;
        }
      }
    }
    @media(max-width: 992px){
      .partner-item{
        width: 100%;
        margin-bottom: 50px;
        &:first-of-type{
          border-right: none; 
          // .logos{padding-left: 0;}
        }
        &:last-of-type{
          float: none;
          text-align: left;
          padding-left: 0;
          .logos{
            float: none;
            padding-left: 40px;
          }
        }
      }
    }
  }

	.mobile-only{
		display: block;
		margin: 0 0 20px 0;
		@include mq($from: large){
			display: none;
		}
	}

  .mobile-read{
    @include font-size(12px);
    @include font-bold();
    @include caps();
  }

	.medium-up{
		display: none;
		@include mq($from: medium){
			display: block;
		}
	}

  .text{
    @include homeRightPadding();
  }

  // Pull (Full Width)
  // -------------------
	.pull-full{
		position: relative;
    @include bottom-spacing();
    display: block;

    h2 strong{display: block;}

		.inner{
		  @include blockPadding();
			display: inline-block; 
			width: 100%; 
		}


	}
  
} //eo: home