// ------------------------------------------------------------
// Long Forms - Pages
// ------------------------------------------------------------

// Are you ready for a longer life
// ------------------------------------------------------------
.are-you-ready-for-a-longer-life {
  .feature {margin-bottom: 0;}
  .infographic{
    @include mq($from: large){
      transform: translateY(50%);
    }
  }
}

// Are your Finances ready for a longer life
// ------------------------------------------------------------
.are-your-finances-ready-for-a-longer-life {
	@include mq($from: medium){
		.hero__content p{color: $light !important;}
	}

  @include mq($from: large){
    .feature.three-col{
      img, .text{
        width: span(7 of 14);
        float: left;
      }
    }
  }

  @include mq($from: large-mid){
    .feature.three-col{
      img, .text{width: span(6 of 14);float: none;}
      .text{left: span(4 of 14); right: auto; margin: 0; position: absolute;}
      .stat{top: 120px;right: span(1 of 14);width: span(2 of 14);}
    }
  }

}

// Rewarding work
// ------------------------------------------------------------
.rewarding-work, .meet-the-new-friendship-groups{
	.intro{
    @include blockPadding();
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.intro--half-width{
		width: 100%;
		margin-left: 0;
	}
	.stat{
		width: 100%;
		padding: 0 2em;
		h2{ font-size: 35px; font-weight: 100; text-transform: lowercase; }
		p.stat-text{ text-transform: uppercase; }
		h4{text-transform: none; font-size: 16px; line-height: 1.4;}
	}
	@include mq($from: medium){
		.hero__content p{color: $light !important;}
		.stat{
			display: inline-block;
			vertical-align: top;
			padding: 0;
		}
	}
	@include mq($from: large){
		.intro{
			margin-top: -40px;
			margin-right: span(1 of 14);
			margin-bottom: 120px;
			p{ font-size: 36px; }
			padding: 6.25%;
		}
		.intro--half-width{
			width: span(8 of 14);
			margin-left: 6.25%;
		}
		.stat{
			padding-top: 5rem;
			width: span(4 of 14);
			h2{ font-size: 70px;}
		}
	}
	.feature{position: relative;}
	.quote{
		width: 100%;
		padding: 6%;
		&:before, &:after{display: none;}
		.copy{ position: relative; z-index: 10;}
	}
	@include mq($from: medium){
		.quote{
			&:before, &:after{display: block;}
			&:before{top: 40px; left: 20px;}
			&:after{bottom: 40px; right: 40px;}
		}
		.feature{margin: 100px 0 170px}
	}
	@include mq($from: large-mid){
		.quote{
			position: absolute;
			bottom: -10rem; left: 0;
			width: span(6.25 of 14);
		}
		.feature{margin-bottom: 20rem;}
	}
}


// Fit through thr ages
// ------------------------------------------------------------
.fit-through-the-ages{
  @include mq($from: medium){
   .hero .hero__content p{color: $light;}
  }


  @include mq($from: large){
    .feature.three-col{
      img, .text{
        width: span(7 of 14);
        float: left;
      }
    }
  }

  @include mq($from: large-mid){
    .feature.three-col{
      img, .text{width: span(6 of 14);}
      img{float: right;}
      .text{left: span(4 of 14); right: auto; margin: 0; position: absolute;z-index: 10;}
      .quote{top: 120px;left: span(1 of 14);width: span(2 of 14);@include font-size(30px);}
    }
  }

  @include mq($from: extra-large){
    .feature.three-col{
      .quote{@include font-size(36px);}
    }
  }


  .copy{
    display: inline-block;
    vertical-align: top;
    strong, h4{
      color: $red;
      font-size: 30px;
      margin-bottom: 5px;
    }
    h4{text-transform: capitalize;}
    h4:first-of-type{color: $dark-red}
    p{font-size: 16px;}

    @include mq($from: large){
      width: span(3.6 of 12);
    }

  }

  .stat{
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 3rem;
    position: relative;
    display: none;
    @include mq($from: large){
      display: block;
    }
    p{
      font-size: 90px;
      font-weight: 100;
      text-align: right;
      margin: 0;
      position: relative;
      z-index: 1;
      &:last-of-type{
        text-transform: uppercase;
        color: $light;
        font-size: 16px;
        width: 220px;
        float: right;
      }
    }
    .bodymovin{
      width: 500px;
      height: 500px;
      position: absolute;
      top: -150px;
      left: -50px;
    }
  } 
  .intro--full-width p{
    width: 100%;
    &:first-of-type{
      margin-top: 20px;
    }
  }
  
  .feature{
    h2{
      font-size: 30px;
      margin-bottom: 5px;
      text-transform: capitalize;
      line-height: 1.3;
      margin-bottom: 20px;
      font-weight: 100;
      span{display: block; color: $light};
    }
    .text{
      @include mq($from: large-mid){
        width: span(6 of 14);
      }
    }
    .circle{
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: -100px;
      right: 0px;
      border-radius: 50%;
      padding: 20px;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 12px;
        @include mq($from: medium){
        padding: 30px;
        width: 130px;
        height: 130px;
        font-size: 14px;
      }
    }
  }

  .feature-solid{
    margin: 100px 0;
      overflow: hidden;
      display: block;
    div{
      padding: 6.25%;
      display: block;
      vertical-align: top;
      padding-top: 4em;
    } 
    h2{
      color: $red;
      font-size: 30px;
      margin-bottom: 5px;
      text-transform: capitalize;
      line-height: 1.3;
      margin-bottom: 20px;
      span{display: block; color: $dark-red};
    }
    .stat{
      display: block;
      text-align: center;
      width: 100%;
      padding-top: 4em;
      padding-bottom: 250px;
      div{
        padding: 0; 
        width: 100%; 
        max-width: 320px; 
        margin: 0 auto;
        @include mq($from: large){
          &.svg-wrap{
            position: absolute;
            right: 0;
            margin-top: 60px;
            left: 0;
          }
        }
      }
      .bodymovin{
        max-width: none; 
        width: 700px;
        height: 700px;
        top: -410px;
        left: -20px;
      }
      h2{
        color: $light;
        font-size: 85px;
      }
      p{text-align: center; float: none; width: auto;}
      svg{
        left: 0;
          right: 0;
          margin: auto;
          /*bottom: -60px;*/
          width: 290px;
      }
    }
    @include mq($from: medium){
      display: flex;
      div{flex: 1};
      .stat{flex: 1.5; padding-bottom: 380px; svg{width: 300px;}}
    }
    @include mq($from: large){
      .stat{padding-bottom: 310px;}
    }
  } 
}



// Meet the new friendship groups
// ------------------------------------------------------------
.meet-the-new-friendship-groups{
	.feature-left{
		margin: 0 0 40px;
		overflow: auto;
		.text{
			right: initial;
			left: 0;
		}
		img{
			@include mq($from: large-mid){
				float: right;
			}
		}
	}
	.pull-left .pull{
		float: none;
		text-align: center;
    p{margin-bottom: 0;}
		@include mq($from: medium){
			@include font-size(56px);
		}
		@include mq($from: large){
			float: left;
			text-align: left;
		}
	}
}


// A rough guide to workplace savings
// ------------------------------------------------------------
.a-rough-guide-to-workplace-savings{

  #icon-animated-rabbit{display: inline-block !important;}

	.intro{
		strong{
			font-weight: 300;
			font-size: 42px;
		}
		p:last-child{font-size: 16px;}
	}

	.intro--half-width{
		width: 100%;
		margin-left: 0;
	}

	@include mq($from: medium){
		.hero__content p{color: $light !important;}
    #fad{margin-top: 120px;}
	}

	@include mq($from: large){
		.intro--half-width{
			width: span(8 of 14);
			margin-left: span(1 of 14);
		}
	}


	.feature{
    position: relative;
		img{margin: 0 auto;}

		.text{
			padding: 0;
			.text-wrap{padding: 1em 3em;}
			h2{
				text-transform: capitalize;
				font-weight: 100;
				font-size: 36px;
			}
		}
		.pull-left{
      @include blockPadding();
      z-index: 10;
      margin: 0;
      p{@include font-size(36px);}
      .bodymovin{
        display: none;
      }
		}

		@include mq($from: large){
			img{width: span(7 of 14);}
		}

		@include mq($from: large-mid){
			.pull-left{
				position: absolute;
				width: span(5 of 12);
        bottom: 0;
        left: 0;
        text-align: right;
        padding-left: 90px;
        .bodymovin{
          display: block;
          position: absolute;
          top: -241px;
          left: -61px;
          width: 400px;
        }
			}
			.text{
				top: -140px;
				width: span(4 of 12);
			}
		}
	}

	.column{
		h2{text-transform: capitalize; font-size: 36px; z-index: 10; position: relative; font-weight: 100};
		.stat{
			h2{ font-size: 80px; font-weight: 100; text-transform: lowercase; }
			p{ text-transform: uppercase; }
		}
		#icon-animated-coins{
			top: -400px;
			right: -360px;
		}
		#icon-animated-target{
      top: -30px;
      right: initial;
      width: 340px;
      left: 56px;
      @include mq($from: extra-large){
        top: -165px;
        width: 480px;
        left: 60px;
      }
		}
	}

	.pull{p{font-size: 16px;}}
	.pull-full .pull{
		@include mq($from: large){
			padding-left: 35%;
		}
	}

	.big-feature{
		.text{top: 0;}
		@include mq($from: large){
			img{width: 65.75%;}
		}
	}
}
