// ------------------------------------------------------------
// privacy-policy
// ------------------------------------------------------------
.privacy-policy{
    .content-wrapper{
        margin-top: 260px;
        h3{margin-bottom: 35px; padding: 0 40px;}
        p{
            font-size: 12px;
            padding: 0 40px;
        }
        .col-12{margin-bottom: 50px;}
    }
   
    
}